{% extends "site_base.html" %}
{% block title %}Sign in{% endblock %}
{% block head %}
<meta name="description" content="Welcome back!  Sign in and manage your Folio24 portfolio.">
<style>
  .error-box {
    border: 1px solid #ff4d42;
    background: #ffe2d6;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #121212;
    width: 320px;
    margin: 0 auto 10px auto;
  }
  .wrapper {
    background-color: rgb(238,238,238);
  }
</style>
{% endblock %}
{% block script %}
<script>
  $(function() {
    $('#id_username').focus();
  });
</script>
{% endblock %}
{% block content %}
<div class="login-box">
  {% if form.errors %}
  <p class="error-box">Your username and/or password were incorrect.</p>
  {% endif %}
  <form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group">
      <label class="control-label" for="id_username">Username or Email</label>
      <div class="controls">
	{{ form.username }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_password" style="float: left">
	Password (<a href="https://www.{{ DOMAIN }}/accounts/password/reset/">forgot?</a>)
      </label>
      <div class="controls">
    {{ form.password }}
      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="Sign in" class="btn btn-large btn-primary" style="margin: 0 0 20px 40px"/>
    <p style="font-size: 0.75em; color: rgb(65,65,65); margin-left: 40px">
      Don't have an account yet? <a href="https://www.{{ DOMAIN }}/register/basic/">Sign up for free.</a>
    </p>
  </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
