{% extends "site_base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div class="container-narrow muted">
  <div class="jumbotron muted" style="margin-bottom: -20px; padding-top: 30px">
    {% if validlink %}
    <h2>Please enter your new password.</h2>
  </div>
  <div class="login-box">
    <form action="" method="post">
      {% csrf_token %}

      {{ form.new_password1.errors }}
      <label for="id_new_password1">New password</label>
      {{ form.new_password1 }}

      {{ form.new_password2.errors }}
      <label for="id_new_password2">New password (again)</label>
      {{ form.new_password2 }}

      <input type="submit" value="Confirm" class="btn btn-large btn-default" />
    </form>

    {% else %}
    <h2>This link is no longer active!</h2>
    <p>If you're attempting to reset your password, please <a href="/accounts/password/reset/">try again</a>.</p>
    {% endif %}

  </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer_special.html" %}
{% endblock %}
