{% extends "site_base.html" %}
{% block title %}Sign up{% endblock %}
{% block head %}
<style>
  .inline-popover {
    display: inline-block;
  }
  .popover {
    color: #444444;
    font-size: 1.2em;
    min-width: 280px;
  }
  #portfolio-url-popover,#username-popover {
    position: relative;
    padding-bottom: 10px;
  }
  #email-popover {
    position: relative;
    padding-bottom: 8px;
  }
  #password-popover {
    position: relative;
    padding-bottom: 4px;
  }
  .popover-title {
    display: none;
  }
  .card-images-amex {
    margin: -126px 0 -32px 0;
  }
  .card-images-visa {
    margin: -62px 0 -96px 0;
  }
  .card-images-mastercard {
    margin: 0 0 -158px 0;
  }
  .card-images-discover {
    margin: -158px 0 0 0;
  }
  .card-images-jcb {
    margin: -95px 0 -64px 0;
  }
  .card-images-diners {
    margin: -32px 0 -128px 0;
  }
  .cvc-image {
    margin-left: 10px;
  }
  .processing-errors, .payment-errors {
    width: 468px;
    margin: 5px auto;
    border: 1px solid #ff4d42;
    background: #ffe2d6;
    border-radius: 5px;
    color: #424242;
    padding: 5px;
  }
  .centered-box {
    margin: 0 auto;
    width: 400px;
  }
  img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }
  img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }
  .wrapper {
    background-image: url('{{ STATIC_URL }}img/textures/seamlesstexture13_500.jpg');
  }
  .bullet-special, .dull-link-special, .llc-special {
    color: rgb(70,70,70) !important;
  }
  .footer-special {
    border-top: 1px solid rgb(160, 160, 160);
  }
</style>
{% endblock %}
{% block script %}
{% if not paid %}
<script>
  $(function() {
    $('#id_username').change(function() {
      $('#username-popover').popover('destroy');
      $('#portfolio-url-popover').popover('destroy');
      if ($('#id_username').val()) {
        var url = $('#id_username').val() + ".{{ DOMAIN }}";
        $('#portfolio-url-popover').popover({content: url});
        $('#portfolio-url-popover').popover('show');
      }
    });

    $('#username-popover').popover('show');
    $('#email-popover').popover('show');
    $('#password-popover').popover('show');
    $('#id_email').change(function() {
      $('#email-popover').popover('destroy');
    });
    $('#id_password1').change(function() {
      $('#password-popover').popover('destroy');
    });
    $('#id_password2').change(function() {
      $('#password-popover').popover('destroy');
    });

    $("#payment-form").submit(function(e) {
      if(!$('#terms-of-service').prop('checked')) {
        e.preventDefault();
        $('#modal-prevent').modal('show')
      }
      return true;
    });
  });
</script>
{% else %}
<script src="https://js.stripe.com/v1/" type="text/javascript"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('{{ publishable }}');

  function stripeResponseHandler(status, response) {
    if (response.error) {
      $('.processing-errors').hide();
      $('.payment-errors').text(response.error.message);
      $('.payment-errors').show();
      $('.submit-button').prop('disabled', false);
    } else {
      var $form = $('#payment-form');
      var token = response.id;
      $form.append($('<input type="hidden" name="stripe_token" />').val(token));
      $form.get(0).submit();
    }
  }
  
  $(function() {
    $('#id_username').change(function() {
      $('#username-popover').popover('destroy');
      $('#portfolio-url-popover').popover('destroy');
      if ($('#id_username').val()) {
        var url = $('#id_username').val() + ".{{ DOMAIN }}";
        $('#portfolio-url-popover').popover({content: url});
        $('#portfolio-url-popover').popover('show');
      }
    });

    $('#username-popover').popover('show');
    $('#email-popover').popover('show');
    $('#password-popover').popover('show');
    $('#id_email').change(function() {
      $('#email-popover').popover('destroy');
    });
    $('#id_password1').change(function() {
      $('#password-popover').popover('destroy');
    });
    $('#id_password2').change(function() {
      $('#password-popover').popover('destroy');
    });

    $('#payment-form').submit(function(event) {
      if(!$('#terms-of-service').prop('checked')) {
        event.preventDefault();
        $('#modal-prevent').modal('show')
      } else {
        $('.submit-button').prop('disabled', true);

        Stripe.createToken({
          number: $('.card-number').val(),
          cvc: $('.card-cvc').val(),
          exp_month: $('.card-expiry-month').val(),
          exp_year: $('.card-expiry-year').val()
        }, stripeResponseHandler);
      }
      return false;
    });
  });
</script>
{% endif %}
{% endblock %}

{% block content %}
<!-- Modals -->
<div class="modal hide" role="dialog" tabindex="-1" id="modal-prevent" arialabelledby="modal-prevent-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="modal-prevent-heading" style="color: #424242">Hold on!</h3>
  </div>
  <div class="modal-body">
    <p style="color: #424242">Please indicate that you agree with the <a href="/terms" target="_blank">Terms of Service</a></p>
    <button class="btn btn-default btn-large" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>
<!-- End modals -->
<div class="container" style="padding: 30px 0">
  <div class="registration-form">
    <div class="account-type">
      {% if not paid %}
      <h3 style="display: inline-block"><span style="font-size: 1.5em">35</span> uploads, for free.</h3>
      {% elif account_type == "premium" %}
      <h3><span style="font-size: 1.5em">500</span> uploads &bull; $6 <span style="font-size: 0.7em">per month</span></h3>
      {% else %}
      <h3><span style="font-size: 1.5em">1500</span> uploads &bull; $9 <span style="font-size: 0.7em">per month</span></h3>
      {% endif %}
    </div>
    <form method="POST" action="" id="payment-form" class="form-horizontal">
      {% csrf_token %}
      <div class="registration-header">
	{% if paid %}
	<h3>Your account details</h3>
	{% endif %}
      </div>
      <div class="input-box">
	<div class="control-group">
	  <label class="control-label registration-label" for="id_username">Username</label>
	  <div class="controls">
	    <input class="registration-input" id="id_username" type="text" placeholder="Username" name="username" maxlength="30" />
	    <span class="inline-popover" id="portfolio-url-popover" data-toggle="popover"></span>
	    {% if user_form.username.errors %}
	    <span class="inline-popover" id="username-popover" data-toggle="popover" data-content="{{ user_form.username.errors.as_text }}"></span>
	    {% endif %}
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label registration-label" for="id_email">Your email</label>
	  <div class="controls">
	    <input class="registration-input" type="text" placeholder="Email" name="email" id="id_email" />
	    {% if user_form.email.errors %}
	    <span class="inline-popover" id="email-popover" data-toggle="popover" data-content="{{ user_form.email.errors.as_text }}"></span>
	    {% endif %}
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label registration-label" for="id_password1">Password</label>
	  <div class="controls">
	    <input class="registration-input" type="password" placeholder="Password" name="password1" id="id_password1" />
	    {% if user_form.password1.errors or user_form.password2.errors or user_form.non_field_errors %}
	    <span class="inline-popover" id="password-popover" data-toggle="popover" data-content="* These passwords must match!"></span>
	    {% endif %}
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label registration-label" for="id_password2">Password (again)</label>
	  <div class="controls">
	    <input class="registration-input" type="password" placeholder="Password (again)" name="password2" id="id_password2" />
	  </div>
	</div>
      </div>
      {% if paid %}
      <div class="registration-header">
	<h3>Your payment information</h3>
      </div>
      <div class="input-box">
	<div style="margin: 0 auto; width: 300px; padding-bottom: 20px">
	  <div style="overflow: hidden; display: inline-block">
	    <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-amex grayscale">
	  </div>
	  <div style="overflow: hidden; display: inline-block">
	    <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-visa grayscale">
	  </div>
	  <div style="overflow: hidden; display: inline-block">
	    <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-mastercard grayscale">
	  </div>
	  <div style="overflow: hidden; display: inline-block">
	    <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-discover grayscale">
	  </div>
	  <div style="overflow: hidden; display: inline-block">
	    <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-jcb grayscale">
	  </div>
	  <div style="overflow: hidden; display: inline-block">
	    <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-diners grayscale">
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label registration-label" for="id_name">Cardholder's Name</label>
	  <div class="controls">
	    <input class="registration-input" type="text" placeholder="Cardholder's Name" id="id_name"/>
	  </div>
	</div>
	<p class="payment-errors" style="display: none"></p>
	{% if error %}
	<p class="processing-errors">{{ error }}</p>
	{% endif %}
	<div class="control-group">
	  <label class="control-label registration-label" for="card-number-id">Card Number</label>
	  <div class="controls">
	    <input class="registration-input card-number" type="text" size="20" autocomplete="off" id="card-number-id" placeholder="Card Number"/>
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label registration-label" for="cvc-id">CVC (security code)</label>
	  <div class="controls">
	    <div style="overflow: hidden">
	      <input type="text" size="4" autocomplete="off" class="card-cvc" id="cvc-id" style="width: 168px" placeholder="CVC (security code)"/>
	      <img src="{{ STATIC_URL }}img/cvc.png" class="cvc-image">
	    </div>
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label registration-label" for="card_expiry_month">Expiration Date</label>
	  <div class="controls">
	    <div class="input" style="display: inline-block">
	      <select class="card-expiry-month" style="width: 70px">
		{% for month in months %}
		<option value="{{ month }}"{% if soon.month == month %} selected{% endif %}>{{ month }}</option>
		{% endfor %}
	      </select>
	      <select class="card-expiry-year" style="width: 80px">
		{% for year in years %}
		<option value="{{ year }}"{% if soon.year == year %} selected{% endif %}>{{ year }}</option>
		{% endfor %}
	      </select>
	    </div>
	  </div>
	</div>
      </div>
      <!-- End if paid -->
      {% endif %}
      <div class="get-started">
	<label style="text-align: center">
	  <input type="checkbox" id="terms-of-service" style="display: inline; margin: 0">
	  <p style="display: inline; color: #656565">I agree to the <a href="/terms/" target="_blank">Terms of Service</a></p>
	</label>
	<button type="submit" class="submit-button btn btn-success btn-large" style="display: block; margin: 15px auto; border-radius: 2px">
	  Get Started Now!
	</button>
      </div>
      <div class="bottom-box">
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer_special.html" %}
{% endblock %}
