{% extends "portfolio_base.html" %}
{% block title %} | Billing Information{% endblock %}
{% block head %}
<style>
  .controls {
    width: 360px;
  }
  .control-label {
    color: #656565;
    font-size: 1.2em;
    width: 210px !important;
  }
  .customization-footer {
    margin-bottom: -20px;
  }
</style>
{% endblock %}
{% block script %}
<script src="https://js.stripe.com/v1/" type="text/javascript"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('{{ publishable }}');

  function stripeResponseHandler(status, response) {
    if (response.error) {
      $('.processing-errors').hide();
      $('.payment-errors').text(response.error.message);
      $('.payment-errors').show();
      $('.submit-button').prop('disabled', false);
    } else {
      var $form = $('#payment-form');
      var token = response.id;
      $form.append($('<input type="hidden" name="stripe_token" />').val(token));
      $form.get(0).submit();
    }
  }
  
  $(function() {
    $('#id_name').focus();
    $('#payment-form').submit(function(event) {
      $('.submit-button').prop('disabled', true);
  
      Stripe.createToken({
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      return false;
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="customization-form">
  <div class="customization-header">
    <h3>Your billing information</h3>
  </div>
  <form method="POST" action="" id="payment-form" class="form-horizontal">
    {% csrf_token %}
    <div class="customization-body">
      <div style="margin: 0 auto 20px auto; width: 300px">
	<div style="overflow: hidden; display: inline-block">
	  <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-amex grayscale">
	</div>
	<div style="overflow: hidden; display: inline-block">
	  <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-visa grayscale">
	</div>
	<div style="overflow: hidden; display: inline-block">
	  <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-mastercard grayscale">
	</div>
	<div style="overflow: hidden; display: inline-block">
	  <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-discover grayscale">
	</div>
	<div style="overflow: hidden; display: inline-block">
	  <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-jcb grayscale">
	</div>
	<div style="overflow: hidden; display: inline-block">
	  <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-diners grayscale">
	</div>
      </div>
      {% if last_4 %}
      <div class="current-card">
	<p><em>Current card:</em> **** **** **** <b>{{ last_4 }}</b></p>
      </div>
      {% endif %}
      <p class="payment-errors"></p>
      {% if error %}
      <p class="processing-errors">{{ error }}</p>
      {% endif %}
      <div class="control-group" style="margin-top: 20px">
	<label class="control-label" for="id_name">Cardholder's Name</label>
	<div class="controls">
	  <input type="text" placeholder="Cardholder's Name" id="id_name"/>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="card-number-id">Card Number</label>
	<div class="controls">
	  <input type="text" size="20" autocomplete="off" class="card-number" id="card-number-id" placeholder="Card Number"/>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="cvc-id">CVC (security code)</label>
	<div class="controls">
	  <div style="overflow: hidden">
	    <input type="text" size="4" autocomplete="off" class="card-cvc" id="cvc-id" style="width: 127px; margin-right: 12px" placeholder="CVC (security code)"/>
	    <img src="{{ STATIC_URL }}img/cvc.png">
	  </div>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="card-expiry-id">Expiration Date</label>
	<div class="controls">
	  <div class="input" style="display: inline-block; padding-right: 67px">
	    <select class="card-expiry-month" style="width: 70px" id="card-expiry-id">
              {% for month in months %}
              <option value="{{ month }}"{% if soon.month == month %} selected{% endif %}>{{ month }}</option>
              {% endfor %}
	    </select>
	    <select class="card-expiry-year" style="width: 80px">
              {% for year in years %}
              <option value="{{ year }}"{% if soon.year == year %} selected{% endif %}>{{ year }}</option>
              {% endfor %}
	    </select>
	  </div>
	</div>
      </div>
    </div>
    <div class="customization-footer" style="text-align: center">
      <button type="submit" class="submit-button btn btn-default btn-large">
	Update billing information
      </button>
    </div>
  </form>
</div>
{% endblock %}
