{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Billing Information{% endblock %}
{% block head %}
<style>
  .card-images-amex {
    margin: -126px 0 -32px 0;
  }
  .card-images-visa {
    margin: -62px 0 -96px 0;
  }
  .card-images-mastercard {
    margin: 0 0 -158px 0;
  }
  .card-images-discover {
    margin: -158px 0 0 0;
  }
  .card-images-jcb {
    margin: -95px 0 -64px 0;
  }
  .card-images-diners {
    margin: -32px 0 -128px 0;
  }
  .cvc-image {
    padding-bottom: 10px;
  }
  .payment-errors {
    width: 200px;
    margin: 0 auto;
    display: none;
    border: 1px solid #ff4d42;
    background: #ffe2d6;
    padding: 5px;
    border-radius: 5px;
    color: #424242;
    margin-top: 10px;
  }
  .processing-errors {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #ff4d42;
    background: #ffe2d6;
    border-radius: 5px;
    padding: 5px;
    color: #424242;
    margin-top: 10px;
  }
  .current-card {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #82a6c9;
    background: #a6c7e8;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #424242;
  }
  .centered-box {
    margin: 0 auto;
    width: 400px;
    border: 2px solid #1d4772;
    border-radius: 2px;
    padding-bottom: 20px;
    background-color: #FCFCFC;
  }
  img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }
  img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}
</style>
{% endblock %}
{% block script %}
<script src="https://js.stripe.com/v1/" type="text/javascript"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('{{ publishable }}');

  function stripeResponseHandler(status, response) {
    if (response.error) {
      $('.processing-errors').hide();
      $('.payment-errors').text(response.error.message);
      $('.payment-errors').show();
      $('.submit-button').prop('disabled', false);
    } else {
      var $form = $('#payment-form');
      var token = response.id;
      $form.append($('<input type="hidden" name="stripe_token" />').val(token));
      $form.get(0).submit();
    }
  }
  
  $(function() {
    $('#id_name').focus();
    $('#payment-form').submit(function(event) {
      $('.submit-button').prop('disabled', true);
  
      Stripe.createToken({
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      return false;
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="centered-box">
  <h3 style="text-align: center; color: #0054a8">Billing Information</h3>
  <hr style="border-top: none; border-bottom: 1px solid #d6d6d6; margin: 0 auto; margin-bottom: 20px">
  <div style="margin: 0 auto; width: 300px">
    <div style="overflow: hidden; display: inline-block">
      <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-amex grayscale">
    </div>
    <div style="overflow: hidden; display: inline-block">
      <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-visa grayscale">
    </div>
    <div style="overflow: hidden; display: inline-block">
      <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-mastercard grayscale">
    </div>
    <div style="overflow: hidden; display: inline-block">
      <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-discover grayscale">
    </div>
    <div style="overflow: hidden; display: inline-block">
      <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-jcb grayscale">
    </div>
    <div style="overflow: hidden; display: inline-block">
      <img src="{{ STATIC_URL }}img/credit_cards_stacked.png" class="card-images-diners grayscale">
    </div>
  </div>
  <p style="text-align: center; padding-top: 10px"><i class="icon-ok"></i><em>All major cards accepted</em></p>
  {% if last_4 %}
  <div class="current-card">
    <p><em>Current card:</em> **** **** **** <b>{{ last_4 }}</b></p>
  </div>
  {% endif %}
  <hr style="border-top: none; border-bottom: 1px solid #d6d6d6; margin: 0 auto; padding-top: 10px; margin-bottom: 20px">
  <p class="payment-errors"></p>
  {% if error %}
  <p class="processing-errors">{{ error }}</p>
  {% endif %}
  <form method="POST" action="" id="payment-form" style="padding-top: 10px; padding-left: 70px; width: 290px; margin: 0 auto; overflow: hidden">
    {% csrf_token %}
    <input type="text" style="width: 215px" placeholder="Cardholder's Name" id="id_name"/>
    <input type="text" size="20" autocomplete="off" class="card-number" id="card-number-id" style="width: 215px" placeholder="Card Number"/>
    <div style="overflow: hidden">
      <input type="text" size="4" autocomplete="off" class="card-cvc" id="cvc-id" style="width: 127px" placeholder="CVC (security code)"/>
      <img src="{{ STATIC_URL }}img/cvc.png" class="cvc-image">
    </div>
    <div style="display: inline-block">

      <div class="input" style="display: inline-block">
	<select class="card-expiry-month" style="width: 45px">
          {% for month in months %}
          <option value="{{ month }}"{% if soon.month == month %} selected{% endif %}>{{ month }}</option>
          {% endfor %}
	</select>
	<select class="card-expiry-year" style="width: 70px">
          {% for year in years %}
          <option value="{{ year }}"{% if soon.year == year %} selected{% endif %}>{{ year }}</option>
          {% endfor %}
	</select>
      </div>
      <label for="expiry_date" style="display: inline-block; font-size: 1.2em">Expiration Date</label>
    </div>
    <hr style="border-top: none; border-bottom: 1px solid #d6d6d6; width: 240px; margin-bottom: 50px">
    <button type="submit" class="submit-button btn btn-primary btn-large" style="display: block; margin-top: 10px; border-radius: 2px">
      Update Billing Information
    </button>
  </form>
</div>
{% endblock %}
