{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Manage{% endblock %}
{% block head %}
<style>
  h3 {
    margin: 0;
  }
</style>
{% endblock %}

<!-- Modals -->
{% block modals %}
<div class="modal hide" role="dialog" tabindex="-1" id="delete-account" arialabelledby="delete-account-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="delete-account-heading" style="color: #424242">Are you sure?</h3>
  </div>
  <div class="modal-body">
    <p style="color: #424242">
      We're very sorry to see you leave.  If you have any concerns you'd like to share, please
      <a href="http://www.{{ DOMAIN }}#contact" target="_blank">contact</a> us.
    </p>
    <div style="padding-top: 15px">
      <a href="/delete/" class="btn btn-danger btn-large">Delete</a>
      <button class="btn btn-default btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>
</div>
<div class="modal hide" role="dialog" tabindex="-1" id="upgrade-account" arialabelledby="upgrade-account-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="upgrade-account-heading" style="color: #283443">Upgrade your account</h3>
  </div>
  <div class="modal-body">
    <p style="color: #424242; text-align: center"><em>
	Your current upload limit is <strong>{{ customer.account_limit }}</strong>
	and your image size limit is <strong>{{ customer.max_file_size }}</strong> MBs
    </em></p>
    <hr>
    <div class="row-fluid" style="text-align: center">
      <div class="span4">
	<h4 style="color: #424242">{{ FREE_IMAGE_LIMIT }} uploads</h4>
	<h4 style="color: #424242">{{ FREE_MAX_FILE_SIZE }} MB/image</h4>
	<a href="https://{{ username }}.{{ DOMAIN }}/accounts/basic/" class="btn btn-primary btn-large" style="width: 102px"><strong>Free</strong></a>
      </div>
      <div class="span4">
	<h4 style="color: #424242">{{ PREMIUM_IMAGE_LIMIT }} uploads</h4>
	<h4 style="color: #424242">{{ PREMIUM_MAX_FILE_SIZE }} MB/image</h4>
	<a href="https://{{ username }}.{{ DOMAIN }}/accounts/premium/" class="btn btn-primary btn-large" style="width: 102px">
	  <strong>$6</strong><span style="font-size: 0.8em"> /month</span>
	</a>
      </div>
      <div class="span4">
	<h4 style="color: #424242">{{ PROFESSIONAL_IMAGE_LIMIT }} uploads</h4>
	<h4 style="color: #424242">{{ PROFESSIONAL_MAX_FILE_SIZE }} MB/image</h4>
	<a href="https://{{ username }}.{{ DOMAIN }}/accounts/professional/" class="btn btn-primary btn-large" style="width: 102px">
	  <strong>$9</strong><span style="font-size: 0.8em"> /month</span>
	</a>
      </div>
    </div>
    <hr>
    <p style="color: #424242; text-align: center"><em>Paid accounts include custom domain name support</em></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-large" data-dismiss="modal">Close</button>
  </div>
</div>
{% endblock %}
<!-- End modals -->

{% block content %}
<div class="customization-form">
  <div class="customization-header">
    <h3>Upgrade your account</h3>
  </div>
  <div class="customization-body" style="text-align: center">
    <p style="margin-bottom: 20px">You can also downgrade your account</p>
    <a href="#upgrade-account"  role="button" data-toggle="modal" class="btn btn-default btn-large" style="margin-bottom: 15px">
      <strong>Upgrade</strong>
    </a>
  </div>
  <div class="customization-title">
    <h3>Update your credit card</h3>
  </div>
  <div class="customization-body" style="text-align: center">
    <p style="margin-bottom: 20px">Add a credit card or change your active card</p>
    <a href="https://{{ username }}.{{ DOMAIN }}/accounts/change/" class="btn btn-default btn-large" style="margin-bottom: 15px">
      <strong>Update</strong>
    </a>
  </div>
  <div class="customization-title">
    <h3>Change your password</h3>
  </div>
  <div class="customization-body" style="text-align: center">
    {% if password_change_form.errors %}
    <p class="form-errors">
      {% if password_change_form.old_password.errors %}
      Your old password was entered incorrectly.
      {% endif %}
      {% if password_change_form.new_password1.errors or password_change_form.new_password2.errors %}
      <br>Your new passwords didn't match.
      {% endif %}
    </p>
    {% endif %}
    <form method="post" action=".">
      {% csrf_token %}
      <div style="margin: 0 auto; width: 206px">
	<input type="password" name="old_password" id="id_old_password" placeholder="Current password" style="display: block"/>
	<input type="password" name="new_password1" id="id_new_password1" placeholder="New password" style="display: block"/>
	<input type="password" name="new_password2" id="id_new_password2" placeholder="New password (again)" style="display: block"/>
      </div>
      <input type="submit" value="Change" class="btn btn-default btn-large" style="font-weight: bold">
    </form>
  </div>
  <div class="customization-title">
    <h3>Delete your account</h3>
  </div>
  <div class="customization-body" style="text-align: center">
    <a href="#delete-account" role="button" data-toggle="modal" class="btn btn-default btn-large" style="margin-bottom: 15px">
      <strong>Delete</strong>
    </a>
  </div>
  <div class="customization-footer">
  </div>
</div>
{% endblock %}
