* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    padding-left: 3px;
    padding-right: 3px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -36px;
}
.footer, .push {
    height: 36px;
}
a.footer-logo {
    background-image: url("https://s3.amazonaws.com/folio24/static/img/folio24_portfolio_logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    margin: 5px;
    text-indent: -5000em;
    width: 103px;
    background-position: top;
    float: left;
    padding: 0;
}
a.footer-logo:hover {
    background-position: bottom;
}
.copytext {
    margin: 8px 0 0 0;
    padding: 0;
}
div.darken {
    display: inline-block;
    background: black;
    padding: 0;
}
div.darken img {
    display: block;
}
.gallery-title {
    display: none;
}
.gallery-title:hover {
    cursor: pointer;
}
.btn-contact {
    border:1px solid #ccd5da; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 8px 8px 8px 8px; font-weight:bold; text-align: center; color: #212121; background-color: #EDF0F2;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDF0F2), color-stop(100%, #A3AEB3));
    background-image: -webkit-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -moz-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -ms-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -o-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: linear-gradient(top, #EDF0F2, #A3AEB3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EDF0F2, endColorstr=#A3AEB3);
}
.btn-contact:hover {
    border:1px solid #b2bfc7; background-color: #cfd7dd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfd7dd), color-stop(100%, #87959c));
    background-image: -webkit-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -moz-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -ms-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -o-linear-gradient(top, #cfd7dd, #87959c);
    background-image: linear-gradient(top, #cfd7dd, #87959c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cfd7dd, endColorstr=#87959c);
}
.btn-link {
    text-decoration: none;
}
.btn-link:hover {
    text-decoration: none;
    color: #292929;
}
.btn-green-link {
    text-decoration: none;
}
.btn-green-link:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.btn-green {
    border:1px solid #8bcf54; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px; padding: 10px 10px 10px 10px; font-weight:bold; text-align: center; color: #FFFFFF; background-color: #a9db80;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9db80), color-stop(100%, #96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(top, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.btn-green:hover {
    border:1px solid #74bf36; background-color: #8ed058;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed058), color-stop(100%, #7bb64b));
    background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
    background-image: linear-gradient(top, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}
.hidden-gallery {

}
.grab:hover {
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}
.grab:active {
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}
#uploader {
    position: relative;
    min-height: 300px;
    background: white;
    -moz-box-shadow: 1px 1px 1px 1px #e0e0e0;
    -webkit-box-shadow: 1px 1px 1px 1px #e0e0e0;
    box-shadow: 1px 1px 1px 1px #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.js-progress {
    height: 10px;
    background: #67aeda;
}
.progress {
    width: 100%;
}
#drag-area {
    background: white;
    border: 2px solid #ababab;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
}
#drag-area:hover {
    background: #f3f7fc;
    border: 2px solid #004a94;
}
#drag-area > p {
    padding: 3px;
    color: #ababab;
}
#drag-area:hover > p {
    display: none;
}
.filename-cell {
    width: 30%;
}
.progress-cell {
    width: 45%;
}
.status-cell {
    width: 25%;
}
#gallery-editor {
    position: relative;
    min-height: 300px;
    background: white;
    -moz-box-shadow: 1px 1px 1px 1px #e0e0e0;
    -webkit-box-shadow: 1px 1px 1px 1px #e0e0e0;
    box-shadow: 1px 1px 1px 1px #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.editable-item {
    padding: 10px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px 1px #e0e0e0;
    -webkit-box-shadow: 1px 1px 1px 1px #e0e0e0;
    box-shadow: 1px 1px 1px 1px #e0e0e0;
    background-color: white;
    max-width: 162px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.checkbox-text {
    color: black;
}
.gallery-header {
    text-align: center;
}
.title-gallery {
    display: inline-block;
    padding-right: 53px;
}
.gallery-title-header {
    padding: 0;
    margin: 0;
}
.back-to-portfolio {
    display: inline-block;
}
.no-decoration {
    text-decoration: none;
}
.no-decoration:hover {
    text-decoration: none;
}
.footer-border {
    margin: 0;
    border-top: none;
    border-bottom: solid 1px rgba(150, 150, 150, .1);
}
.edit-btn {
    padding-right: 10px;
}
.modal-input {
    width: 97%;
}
.house .house-logo {
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
}
.download-public-link {
    margin: 10px 0;
    text-align: center;
}
#create-gallery {
    margin-left: 3px;
    border-radius: 2px;
    font-weight: bold;
}
.navbar-inner {
    border-radius: 0px;
    -moz-box-shadow: 0 4px 4px -4px rgba(150, 150, 150, 0.4);
    -webkit-box-shadow: 0 4px 4px -4px rgba(150, 150, 150, 0.4);
    box-shadow: 0 4px 4px -4px rgba(150, 150, 150, 0.4);
    padding: 0 0 0 4px;
}
.sortable-items {
    margin: 20px auto;
}
.form-title {
    border-radius: 10px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    font-size: 1.5em;
    height: 37px;
    margin-bottom: 20px;
    padding: 10px 0;
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 47%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(251,251,251,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(247,247,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(247,247,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-8 */
}
.card-images-amex {
    margin: -126px 0 -32px 0;
}
.card-images-visa {
    margin: -62px 0 -96px 0;
}
.card-images-mastercard {
    margin: 0 0 -158px 0;
}
.card-images-discover {
    margin: -158px 0 0 0;
}
.card-images-jcb {
    margin: -95px 0 -64px 0;
}
.card-images-diners {
    margin: -32px 0 -128px 0;
}
.cvc-image {
    padding-bottom: 10px;
}
.payment-errors {
    width: 200px;
    margin: 0 auto;
    display: none;
    border: 1px solid #ff4d42;
    background: #ffe2d6;
    padding: 5px;
    border-radius: 5px;
    color: #424242;
    margin-top: 10px;
}
.processing-errors {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #ff4d42;
    background: #ffe2d6;
    border-radius: 5px;
    padding: 5px;
    color: #424242;
    margin-top: 10px;
}
.current-card {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #82a6c9;
    background: #a6c7e8;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #424242;
}
.customization-form {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    position: relative;
    z-index: 0;
    width: 650px;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
    border: 2px solid white;
    background-image: url('https://s3.amazonaws.com/folio24/static/img/textures/seamlesstexture13_500.jpg');
}
.customization-body {
    text-align: right;
    position: relative;
    background-color: rgb(239, 242, 245);
    margin: 20px;
    padding: 20px 0 1px 0;
    border-radius: 4px;
    color: #656565;
}
.customization-body:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}
.customization-header {
    background-color: rgb(130, 155, 175);
    color: white;
    border-radius: 10px 10px 0 0;
    border-bottom: 10px solid rgb(255,255,255);
    padding: 10px 0;
}
.customization-title {
    background-color: rgb(130, 155, 175);
    border-bottom: 10px solid rgb(255,255,255);
    border-top: 10px solid rgb(255,255,255);
    color: white;
    padding: 10px 0;
}
.customization-footer {
    border-top: 10px solid rgb(255,255,255);
    text-align: center;
    background-color: rgb(130, 155, 175);
    color: white;
    border-radius: 0 0 10px 10px;
    padding: 20px 0;
}
.centered-box {
    margin: 0 auto;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    -moz-box-shadow: 1px 1px 1px #e0e0e0;
    -webkit-box-shadow: 1px 1px 1px #e0e0e0;
    box-shadow: 1px 1px 1px #e0e0e0;
}
.form-errors {
    border: 1px solid #ff4d42;
    border-radius: 5px;
    background: #ffe2d6;
    padding: 3px;
    display: inline-block;
    color: #424242;
}
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}
