* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -36px;
}
.footer, .push {
    height: 36px;
}
a.footer-logo {
    background-image: url("https://s3.amazonaws.com/folio24/static/img/folio24_portfolio_logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    margin: 5px;
    text-indent: -5000em;
    width: 103px;
    background-position: top;
    float: left;
    padding: 0;
}
a.footer-logo:hover {
    background-position: bottom;
}
.copytext {
    margin: 8px 0 0 0;
    padding: 0;
}
div.darken {
    display: inline-block;
    background: black;
    padding: 0;
}
div.darken img {
    display: block;
}
.gallery-title {
    display: none;
}
.gallery-title:hover {
    cursor: pointer;
}
.btn-contact {
    border:1px solid #ccd5da; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 8px 8px 8px 8px; font-weight:bold; text-align: center; color: #212121; background-color: #EDF0F2;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDF0F2), color-stop(100%, #A3AEB3));
    background-image: -webkit-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -moz-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -ms-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -o-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: linear-gradient(top, #EDF0F2, #A3AEB3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EDF0F2, endColorstr=#A3AEB3);
}
.btn-contact:hover {
    border:1px solid #b2bfc7; background-color: #cfd7dd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfd7dd), color-stop(100%, #87959c));
    background-image: -webkit-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -moz-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -ms-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -o-linear-gradient(top, #cfd7dd, #87959c);
    background-image: linear-gradient(top, #cfd7dd, #87959c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cfd7dd, endColorstr=#87959c);
}
.btn-link {
    text-decoration: none;
}
.btn-link:hover {
    text-decoration: none;
    color: #292929;
}
.btn-green-link {
    text-decoration: none;
}
.btn-green-link:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.btn-green {
    border:1px solid #8bcf54; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px; padding: 10px 10px 10px 10px; font-weight:bold; text-align: center; color: #FFFFFF; background-color: #a9db80;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9db80), color-stop(100%, #96c56f));
    background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
    background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
    background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
    background-image: -o-linear-gradient(top, #a9db80, #96c56f);
    background-image: linear-gradient(top, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.btn-green:hover {
    border:1px solid #74bf36; background-color: #8ed058;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed058), color-stop(100%, #7bb64b));
    background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
    background-image: linear-gradient(top, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}
.hidden-gallery {

}
.grab:hover {
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}
#uploader {
    position: relative;
    min-height: 125px;
    width: 100%;
    border-radius: 1px;
    margin: 10px 0 10px 0;
}
.js-progress {
    height: 10px;
    background: #67aeda;
}
.progress {
    width: 100%;
}
#drag-area {
    background: white;
    border: 2px solid #ababab;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
}
#drag-area:hover {
    background: #f3f7fc;
    border: 2px solid #004a94;
}
#drag-area > p {
    padding: 3px;
    color: #ababab;
}
#drag-area:hover > p {
    display: none;
}
.filename-cell {
    width: 30%;
}
.progress-cell {
    width: 45%;
}
.status-cell {
    width: 25%;
}
#gallery-editor {
    position: relative;
    width: 100%;
    border-radius: 1px;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
}
.editable-item {
    padding: 10px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px #e0e0e0;
    -webkit-box-shadow: 1px 1px 1px #e0e0e0;
    box-shadow: 1px 1px 1px #e0e0e0;
    background-color: white;
}
.checkbox-text {
    color: black;
}
.gallery-header {
    text-align: center;
}
.title-gallery {
    display: inline-block;
    padding-right: 53px;
}
.gallery-title-header {
    padding: 0;
    margin: 0;
}
.back-to-portfolio {
    display: inline-block;
}
.no-decoration {
    text-decoration: none;
}
.no-decoration:hover {
    text-decoration: none;
}
.footer-border {
    margin: 0;
    border-top: none;
    border-bottom: solid 1px rgba(150, 150, 150, .1);
}
.edit-btn {
    padding-right: 10px;
}
.modal-input {
    width: 97%;
}
.house .house-logo {
    display: none;
}
