* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px;
}
.footer, .push {
    height: 25px;
}
.container-narrow {
    margin: 0 auto;
    max-width: 870px;
}
.login-box {
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
}
/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Additional tweaks */
.dull-link {
    text-decoration: none !important;
}
.dull-link:hover {
    color: white !important;
}
.top-banner {
    width: 100%;
    height: 60px;
    background-color: #29333d;//#374553;
    border-bottom: 2px solid #ababab;
}
.splash {
    padding: 70px 0;
    background-image: url('http://s3.amazonaws.com/folio24/static/img/seattle.png');
    background-size: 950px;
    background-repeat: no-repeat;
    background-color: #29333d;//#374553;
    border-bottom: 2px solid #909090;
    //border-top: 1px solid #737ea5;
}
.star {
    color: white;
    text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white;
}
.signup-btn {
    background-color: white;
    border-radius: 10px;
    color: #374553;
}
.signup-btn:hover {
    box-shadow: 0px 0px 20px white;
}
.darken {
    position: relative;
    background-color: black;
}
.thumbnail-title {
    position: absolute;
    color: white;
}
.examples {
    width: 100%;
    background-color: none;//#29333d;
    border-top: none;//2px solid #909090;
    border-bottom: none;//2px solid #909090;
    padding-bottom: 40px;
}
.bottom-links {
    padding-top: 20px;
    width: 100%;
    background-color: #29333d;
    border-top: 2px solid #909090;
    padding-bottom: 10px;
}
.colored {
    color: #29333d;
}
.logo {
    font-family: 'Strait', sans-serif;
    text-decoration: none !important;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.logo:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1px #d5dbe1, 0 0 2px #b9c4cf, 0 0 3px #4e6174;
}
.nav-link {
    color: white;
    border: 1px solid #566b81;
}
.btn-contact {
    border:1px solid #ccd5da; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px; padding: 8px 8px 8px 8px; font-weight:bold; text-align: center; color: #212121; background-color: #EDF0F2;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDF0F2), color-stop(100%, #A3AEB3));
    background-image: -webkit-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -moz-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -ms-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: -o-linear-gradient(top, #EDF0F2, #A3AEB3);
    background-image: linear-gradient(top, #EDF0F2, #A3AEB3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EDF0F2, endColorstr=#A3AEB3);
}
.btn-contact:hover {
    border:1px solid #b2bfc7; background-color: #cfd7dd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfd7dd), color-stop(100%, #87959c));
    background-image: -webkit-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -moz-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -ms-linear-gradient(top, #cfd7dd, #87959c);
    background-image: -o-linear-gradient(top, #cfd7dd, #87959c);
    background-image: linear-gradient(top, #cfd7dd, #87959c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cfd7dd, endColorstr=#87959c);
}
.price-box {
    width: 150px;
    margin: 0 auto;
}
.price-box:hover {
    box-shadow: 0 0 3px #566b81, 0 0 10px 4px #97a6b4, 0 0 15px 3px #e0e3e5;
}
.icon-dull {
    opacity : 0.4;
    filter: alpha(opacity=40);
}
