{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | About{% endblock %}
{% block head %}
<style>
  .pencil img {
    padding-left: 2px;
  }
  .pencil {
    text-decoration: none;
  }
  .pencil:hover {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  #email-link {
    color: #{{ profile.text_color }};
    text-decoration: none;
  }
</style>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
{% if user.is_authenticated and user.username == username %}
<script type="text/javascript" src="{{ STATIC_URL }}js/editor.js"></script>
<script>
$(document).ready(function(){
  $('.pencil').hover(function () {
    $(this).find('img').prop('src', '{{ STATIC_URL}}img/pencil.png');
  }, function () {
    $(this).find('img').prop('src', '{{ STATIC_URL}}img/pencil_dull.png');
  });

  $(".enable-about").on("click", function() {
    if (!$(this).hasClass("active")) {
      $(this).removeClass("btn-default");
      $(this).addClass("btn-info active");
      $(".disable-about").removeClass("btn-danger active");
      $(".disable-about").addClass("btn-default");

      $.ajax({
        type: "POST",
        url: "/toggle_about_page/",
        data: {'enable': 'True'}
      });
    }
  });

  $(".disable-about").on("click", function() {
    if (!$(this).hasClass("active")) {
      $(this).removeClass("btn-default");
      $(this).addClass("btn-danger active");
      $(".enable-about").removeClass("btn-info active");
      $(".enable-about").addClass("btn-default");

      $.ajax({
        type: "POST",
        url: "/toggle_about_page/",
        data: {'enable': 'False'}
      });
    }
  });
  $('#id_picture').change(function() {
    $('#id_picture_styled').val($(this).val().replace("C:\\fakepath\\", ""));
  });
});
</script>
{% endif %}

{% if profile.contact_type == 'E' %}
<script>
$(document).ready(function(){
  $("#send-message-embedded").on("click", function() {
    $.ajax({
      type: "POST",
      url: "/contact_ajax/",
      data: {'message': $("#id_message-embedded").val(),
             'sender': $("#id_sender-embedded").val()}
    });
    $("#successful-message").modal('show');
    $("#id_message-embedded").val('');
    $("#id_sender-embedded").val('');
  });
});
</script>
{% endif %}

{% endblock %}
{% block content %}
{% if user.is_authenticated and user.username == username %}
<div class="alert alert-error hide" id="ajax-alert">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <p></p>
</div>
<!-- Modal for uploading a profile picture -->
<div class="modal hide" role="dialog" tabindex="-1" id="profile-picture-modal" arialabelledby="profile-picture-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="profile-picture-heading" style="color: #424242">Profile Picture</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="/edit_profile_picture/" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="picture" id="id_picture" class="hide"/>
      <div class="pretty_file_input">
	<input id="id_picture_styled" type="text" onclick="$('#id_picture').click();" placeholder="Image file">
	<a class="btn btn-default" onclick="$('#id_picture').click();" style="margin-bottom: 10px"><b>Browse</b></a>
      </div>
      <div style="padding-top: 15px">
	<input type="submit" value="Upload" class="btn btn-primary btn-large">
	<button class="btn btn-default btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </form>
  </div>
</div>
<!-- Modal for removing the profile picture -->
<div class="modal hide" role="dialog" tabindex="-1" id="delete-profile-picture" arialabelledby="delete-picture-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="delete-picture-heading" style="color: #424242">Delete profile picture?</h3>
  </div>
  <div class="modal-body">
    <div style="padding-top: 15px">
      <a href="/about/delete_photo/" class="btn btn-danger btn-large">Delete</a>
      <button class="btn btn-default btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>
</div>
{% endif %}
{% if profile.contact_type == 'E' %}
<!-- Modal to show on message sending -->
<div class="modal hide fade" role="dialog" tabindex="-1" id="successful-message" arialabelledby="successful-message-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="successful-message-heading" style="color: #424242">Your message has been sent.</h3>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-large" data-dismiss="modal">Close</button>
  </div>
</div>
{% endif %}
<!-- End modal -->
<div class="row-fluid muted">
  <div class="span9">
    {% if user.is_authenticated and username == user.username and profile.edit_mode %}
    <div class="row-fluid sizeable-font" style="padding-bottom: 30px; text-align: center">
      <div class="span7 offset2">
	<p style="display: inline; margin-right: 5px"><strong>This page is </strong></p>
	<div class="btn-group" style="display: inline">
	  {% if profile.allow_about %}
	  <button type="button" class="btn btn-info enable-about active" value="True"><strong style="font-size: 1.2em">Public</strong></button>
	  <button type="button" class="btn btn-default disable-about" value="False"><strong style="font-size: 1.2em">Private</strong></button>
	  {% else %}
	  <button type="button" class="btn btn-default enable-about" value="True"><strong style="font-size: 1.2em">Public</strong></button>
	  <button type="button" class="btn btn-danger disable-about active" value="False"><strong style="font-size: 1.2em">Private</strong></button>
	  {% endif %}
	</div>
      </div>
    </div>
    {% endif %}

    {% if user.is_authenticated and username == user.username and profile.edit_mode or profile.about %}
    <div class="row-fluid sizeable-font" style="padding-bottom: 10px">
      <div class="span2">
	{% if user.is_authenticated and username == user.username and profile.edit_mode %}
	<a class="pencil muted" id="trigger-editable-about" href="#"><b>About</b><img src="{{ STATIC_URL }}img/pencil_dull.png"></a>
	{% elif profile.about %}
	<p><b>About</b></p>
	{% endif %}
      </div>
      <div class="span10">
	{% if user.is_authenticated and username == user.username %}
	<div id="editable-about">
	  {% if profile.about %}
	  <p id="valid-about">{{ profile.about|linebreaksbr }}</p>
	  {% else %}
	  <p id="empty-about"><em>Currently empty</em></p>
	  {% endif %}
	  <textarea id="about-textarea" style="display: none; width: 100%" rows="10"></textarea>
	</div>
	<button type="button" class="btn btn-success" id="save-about" style="display: none; margin-bottom: 10px">
	  <b>Save</b>
	</button>
	<button type="button" class="btn btn-default" id="cancel-about" style="display: none; margin-bottom: 10px">
	  <i class="icon-remove"></i>
	</button>
	{% elif profile.about %}
	<p>{{ profile.about|linebreaksbr }}</p>
	{% endif %}
      </div>
    </div>
    {% endif %}

    {% if user.is_authenticated and username == user.username and profile.edit_mode or profile.email %}
    <div class="row-fluid sizeable-font" style="padding-bottom: 10px">
      <div class="span2">
	{% if user.is_authenticated and username == user.username and profile.edit_mode %}
	<a class="pencil muted" id="trigger-editable-email" href="#"><b>Email</b><img src="{{ STATIC_URL }}img/pencil_dull.png"></a>
	{% elif profile.email %}
	<p><b>Email</b></p>
	{% endif %}
      </div>
      <div class="span10">
	{% if user.is_authenticated and username == user.username %}
	<div id="editable-email">
	  {% if profile.email %}
	  <p id="valid-email">{{ profile.email }}</p>
	  {% else %}
	  <p id="empty-email"><em>Currently empty</em></p>
	  {% endif %}
	  <input id="email-input" type="text" style="display: none"></input>
	</div>
	<button type="button" class="btn btn-success" id="save-email" style="display: none; margin-bottom: 10px">
	  <b>Save</b>
	</button>
	<button type="button" class="btn btn-default" id="cancel-email" style="display: none; margin-bottom: 10px">
	  <i class="icon-remove"></i>
	</button>
	{% elif profile.email %}
	<a id="email-link" href="mailto:{{ profile.email }}">{{ profile.email }}</a>
	{% endif %}
      </div>
    </div>
    {% endif %}

    {% if user.is_authenticated and username == user.username and profile.edit_mode or profile.phone %}
    <div class="row-fluid sizeable-font" style="padding-bottom: 10px">
      <div class="span2">
	{% if user.is_authenticated and username == user.username and profile.edit_mode %}
	<a class="pencil muted" id="trigger-editable-phone" href="#"><b>Phone</b><img src="{{ STATIC_URL }}img/pencil_dull.png"></a>
	{% elif profile.phone %}
	<p><b>Phone</b></p>
	{% endif %}
      </div>
      <div class="span10">
	{% if user.is_authenticated and username == user.username %}
	<div id="editable-phone">
	  {% if profile.phone %}
	  <p id="valid-phone">{{ profile.phone }}</p>
	  {% else %}
	  <p id="empty-phone"><em>Currently empty</em></p>
	  {% endif %}
	  <input id="phone-input" type="text" style="display: none" maxlength="100"></input>
	</div>
	<button type="button" class="btn btn-success" id="save-phone" style="display: none; margin-bottom: 10px">
	  <b>Save</b>
	</button>
	<button type="button" class="btn btn-default" id="cancel-phone" style="display: none; margin-bottom: 10px">
	  <i class="icon-remove"></i>
	</button>
	{% elif profile.phone %}
	<p>{{ profile.phone }}</p>
	{% endif %}
      </div>
    </div>
    {% endif %}

    {% if user.is_authenticated and username == user.username and profile.edit_mode or profile.location %}
    <div class="row-fluid sizeable-font" style="padding-bottom: 10px">
      <div class="span2">
	{% if user.is_authenticated and username == user.username and profile.edit_mode %}
	<a class="pencil muted" id="trigger-editable-location" href="#"><b>Location</b><img src="{{ STATIC_URL }}img/pencil_dull.png"></a>
	{% elif profile.location %}
	<p><b>Location</b></p>
	{% endif %}
      </div>
      <div class="span10">
	{% if user.is_authenticated and username == user.username %}
	<div id="editable-location">
	  {% if profile.location %}
	  <p id="valid-location">{{ profile.location }}</p>
	  {% else %}
	  <p id="empty-location"><em>Currently empty</em></p>
	  {% endif %}
	  <input id="location-input" type="text" style="display: none" maxlength="100"></input>
	</div>
	<button type="button" class="btn btn-success" id="save-location" style="display: none; margin-bottom: 10px">
	  <b>Save</b>
	</button>
	<button type="button" class="btn btn-default" id="cancel-location" style="display: none; margin-bottom: 10px">
	  <i class="icon-remove"></i>
	</button>
	{% elif profile.location %}
	<p>{{ profile.location }}</p>
	{% endif %}
      </div>
    </div>
    {% endif %}

<!--
    {% if user.is_authenticated and username == user.username or profile.website %}
    <div class="row-fluid sizeable-font">
      <div class="span2">
	{% if user.is_authenticated and username == user.username %}
	<a class="pencil muted" id="trigger-editable-website" href="#"><b>Website</b><img src="{{ STATIC_URL }}img/pencil_dull.png"></a>
	{% elif profile.website %}
	<p><b>Website</b></p>
	{% endif %}
      </div>
      <div class="span10">
	{% if user.is_authenticated and username == user.username %}
	<div id="editable-website">
	  {% if profile.website %}
	  <a id="valid-website" href="{{ profile.website }}" target="_blank" style="text-decoration: none">{{ profile.website }}</a>
	  {% else %}
	  <p id="empty-website"><em>Currently empty</em></p>
	  {% endif %}
	  <input id="website-input" type="text" style="display: none" maxlength="500"></input>
	</div>
	<button type="button" class="btn btn-success" id="save-website" style="display: none; margin-bottom: 10px">
	  <b>Save</b>
	</button>
	<button type="button" class="btn btn-default" id="cancel-website" style="display: none; margin-bottom: 10px">
	  <i class="icon-remove"></i>
	</button>
	{% elif profile.website %}
	<a href="{{ profile.website }}" target="_blank" style="text-decoration: none">{{ profile.website }}</a>
	{% endif %}
      </div>
    </div>
    {% endif %}
-->

    <div class="row-fluid sizeable-font">
      <div class="span2">
	{% if user.is_authenticated and username == user.username and profile.edit_mode %}
	<a class="pencil muted" id="trigger-editable-social" href="#"><b>Social</b><img src="{{ STATIC_URL }}img/pencil_dull.png"></a>
	{% endif %}
      </div>
      <div class="span10">
	{% if user.is_authenticated and username == user.username and profile.edit_mode %}
	<span id="blogger-img" class="hide">{{ STATIC_URL }}img/social/blogger.png</span>
	<span id="deviantart-img" class="hide">{{ STATIC_URL }}img/social/deviantart.png</span>
	<span id="digg-img" class="hide">{{ STATIC_URL }}img/social/digg.png</span>
	<span id="facebook-img" class="hide">{{ STATIC_URL }}img/social/facebook.png</span>
	<span id="flickr-img" class="hide">{{ STATIC_URL }}img/social/flickr.png</span>
	<span id="google_plus-img" class="hide">{{ STATIC_URL }}img/social/gplus2.png</span>
	<span id="linkedin-img" class="hide">{{ STATIC_URL }}img/social/linkedin.png</span>
	<span id="myspace-img" class="hide">{{ STATIC_URL }}img/social/myspace.png</span>
	<span id="orkut-img" class="hide">{{ STATIC_URL }}img/social/orkut.png</span>
	<span id="pinterest-img" class="hide">{{ STATIC_URL }}img/social/pinterest.png</span>
	<span id="tumblr-img" class="hide">{{ STATIC_URL }}img/social/tumblr.png</span>
	<span id="twitter-img" class="hide">{{ STATIC_URL }}img/social/twitter.png</span>
	<span id="wordpress-img" class="hide">{{ STATIC_URL }}img/social/wordpress.png</span>
	<span id="youtube-img" class="hide">{{ STATIC_URL }}img/social/youtube.png</span>
	<div id="editable-social">
	  {% if profile.blogger %}
	  <a id="valid-social-blogger" href="{{ profile.blogger }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/blogger.png">
	  </a>
	  {% endif %}
	  {% if profile.deviantart %}
	  <a id="valid-social-deviantart" href="{{ profile.deviantart }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/deviantart.png">
	  </a>
	  {% endif %}
	  {% if profile.digg %}
	  <a id="valid-social-digg" href="{{ profile.digg }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/digg.png">
	  </a>
	  {% endif %}
	  {% if profile.facebook %}
	  <a id="valid-social-facebook" href="{{ profile.facebook }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/facebook.png">
	  </a>
	  {% endif %}
	  {% if profile.flickr %}
	  <a id="valid-social-flickr" href="{{ profile.flickr }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/flickr.png">
	  </a>
	  {% endif %}
	  {% if profile.google_plus %}
	  <a id="valid-social-google_plus" href="{{ profile.google_plus }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/gplus2.png">
	  </a>
	  {% endif %}
	  {% if profile.linkedin %}
	  <a id="valid-social-linkedin" href="{{ profile.linkedin }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/linkedin.png">
	  </a>
	  {% endif %}
	  {% if profile.myspace %}
	  <a id="valid-social-myspace" href="{{ profile.myspace }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/myspace.png">
	  </a>
	  {% endif %}
	  {% if profile.orkut %}
	  <a id="valid-social-orkut" href="{{ profile.orkut }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/orkut.png">
	  </a>
	  {% endif %}
	  {% if profile.pinterest %}
	  <a id="valid-social-pinterest" href="{{ profile.pinterest }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/pinterest.png">
	  </a>
	  {% endif %}
	  {% if profile.tumblr %}
	  <a id="valid-social-tumblr" href="{{ profile.tumblr }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/tumblr.png">
	  </a>
	  {% endif %}
	  {% if profile.twitter %}
	  <a id="valid-social-twitter" href="{{ profile.twitter }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/twitter.png">
	  </a>
	  {% endif %}
	  {% if profile.wordpress %}
	  <a id="valid-social-wordpress" href="{{ profile.wordpress }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/wordpress.png">
	  </a>
	  {% endif %}
	  {% if profile.youtube %}
	  <a id="valid-social-youtube" href="{{ profile.youtube }}" target="_blank">
	    <img src="{{ STATIC_URL }}img/social/youtube.png">
	  </a>
	  {% endif %}

	  {% if not profile.blogger and not profile.deviantart and not profile.digg and not profile.facebook %}
	  {% if not profile.flickr and not profile.linkedin and not profile.google_plus and not profile.myspace %}
	  {% if not profile.orkut and not profile.pinterest and not profile.tumblr and not profile.twitter %}
	  {% if not profile.wordpress and not profile.youtube %}
	  <p id="empty-social"><em>Currently empty</em></p>
	  {% endif %}
	  {% endif %}
	  {% endif %}
	  {% endif %}
	  <div class="hide" id="all-social-inputs">
	    <div id="blogger-group">
	      <label for="blogger-input" class="control-label">Blogger</label>
	      <input id="blogger-input" type="text" maxlength="500" placeholder="Blogger"></input>
	    </div>
	    <div id="deviantart-group">
	      <label for="deviantart-input" class="control-label">deviantART</label>
	      <input id="deviantart-input" type="text" maxlength="500" placeholder="deviantART"></input>
	    </div>
	    <div id="digg-group">
	      <label for="digg-input" class="control-label">Digg</label>
	      <input id="digg-input" type="text" maxlength="500" placeholder="Digg"></input>
	    </div>
	    <div id="facebook-group">
	      <label for="facebook-input" class="control-label">Facebook</label>
	      <input id="facebook-input" type="text" maxlength="500" placeholder="Facebook"></input>
	    </div>
	    <div id="flickr-group">
	      <label for="flickr-input" class="control-label">Flickr</label>
	      <input id="flickr-input" type="text" maxlength="500" placeholder="Flickr"></input>
	    </div>
	    <div id="google_plus-group">
	      <label for="google_plus_input" class="control-label">Google+</label>
	      <input id="google_plus-input" type="text" maxlength="500" placeholder="Google+"></input>
	    </div>
	    <div id="linkedin-group">
	      <label for="linkedin-input" class="control-label">LinkedIn</label>
	      <input id="linkedin-input" type="text" maxlength="500" placeholder="LinkedIn"></input>
	    </div>
	    <div id="myspace-group">
	      <label for="myspace-input" class="control-label">Myspace</label>
	      <input id="myspace-input" type="text" maxlength="500" placeholder="Myspace"></input>
	    </div>
	    <div id="orkut-group">
	      <label for="orkut-input" class="control-label">Orkut</label>
	      <input id="orkut-input" type="text" maxlength="500" placeholder="Orkut"></input>
	    </div>
	    <div id="pinterest-group">
	      <label for="pinterest-input" class="control-label">Pinterest</label>
	      <input id="pinterest-input" type="text" maxlength="500" placeholder="Pinterest"></input>
	    </div>
	    <div id="tumblr-group">
	      <label for="tumblr-input" class="control-label">Tumblr</label>
	      <input id="tumblr-input" type="text" maxlength="500" placeholder="Tumblr"></input>
	    </div>
	    <div id="twitter-group">
	      <label for="twitter-input" class="control-label">Twitter</label>
	      <input id="twitter-input" type="text" maxlength="500" placeholder="Twitter"></input>
	    </div>
	    <div id="wordpress-group">
	      <label for="wordpress-input" class="control-label">Wordpress</label>
	      <input id="wordpress-input" type="text" maxlength="500" placeholder="Wordpress"></input>
	    </div>
	    <div id="youtube-group">
	      <label for="youtube-input" class="control-label">YouTube</label>
	      <input id="youtube-input" type="text" maxlength="500" placeholder="YouTube"></input>
	    </div>
	  </div>
	</div>
	<button type="button" class="btn btn-success" id="save-social" style="display: none; margin-bottom: 10px">
	  <b>Save</b>
	</button>
	<button type="button" class="btn btn-default" id="cancel-social" style="display: none; margin-bottom: 10px">
	  <i class="icon-remove"></i>
	</button>
	{% else %}

	{% if profile.blogger %}
	<a href="{{ profile.blogger }}" target="_blank"><img src="{{ STATIC_URL }}img/social/blogger.png"></a>
	{% endif %}
	{% if profile.deviantart %}
	<a href="{{ profile.deviantart }}" target="_blank"><img src="{{ STATIC_URL }}img/social/deviantart.png"></a>
	{% endif %}
	{% if profile.digg %}
	<a href="{{ profile.digg }}" target="_blank"><img src="{{ STATIC_URL }}img/social/digg.png"></a>
	{% endif %}
	{% if profile.facebook %}
	<a href="{{ profile.facebook }}" target="_blank"><img src="{{ STATIC_URL }}img/social/facebook.png"></a>
	{% endif %}
	{% if profile.flickr %}
	<a href="{{ profile.flickr }}" target="_blank"><img src="{{ STATIC_URL }}img/social/flickr.png"></a>
	{% endif %}
	{% if profile.google_plus %}
	<a href="{{ profile.google_plus }}" target="_blank"><img src="{{ STATIC_URL }}img/social/gplus2.png"></a>
	{% endif %}
	{% if profile.linkedin %}
	<a href="{{ profile.linkedin }}" target="_blank"><img src="{{ STATIC_URL }}img/social/linkedin.png"></a>
	{% endif %}
	{% if profile.myspace %}
	<a href="{{ profile.myspace }}" target="_blank"><img src="{{ STATIC_URL }}img/social/myspace.png"></a>
	{% endif %}
	{% if profile.orkut %}
	<a href="{{ profile.orkut }}" target="_blank"><img src="{{ STATIC_URL }}img/social/orkut.png"></a>
	{% endif %}
	{% if profile.pinterest %}
	<a href="{{ profile.pinterest }}" target="_blank"><img src="{{ STATIC_URL }}img/social/pinterest.png"></a>
	{% endif %}
	{% if profile.tumblr %}
	<a href="{{ profile.tumblr }}" target="_blank"><img src="{{ STATIC_URL }}img/social/tumblr.png"></a>
	{% endif %}
	{% if profile.twitter %}
	<a href="{{ profile.twitter }}" target="_blank"><img src="{{ STATIC_URL }}img/social/twitter.png"></a>
	{% endif %}
	{% if profile.wordpress %}
	<a href="{{ profile.wordpress }}" target="_blank"><img src="{{ STATIC_URL }}img/social/wordpress.png"></a>
	{% endif %}
	{% if profile.youtube %}
	<a href="{{ profile.youtube }}" target="_blank"><img src="{{ STATIC_URL }}img/social/youtube.png"></a>
	{% endif %}

	{% endif %}
      </div>
    </div>
  </div>

  <div class="span3">
    {% if user.is_authenticated and username == user.username and profile.edit_mode %}
    <div class="row-fluid" style="padding-bottom: 10px">
      <a href="#profile-picture-modal" role="button" data-toggle="modal" class="btn btn-info">
	<i class="icon-plus icon-white"></i><strong> Profile picture</strong>
      </a>
      {% if profile.picture %}
      <a href="#delete-profile-picture" role="button" data-toggle="modal" class="btn btn-danger">
	<i class="icon-remove icon-white"></i>
      </a>
      {% endif %}
    </div>
    {% endif %}

    {% if profile.picture %}
    <div class="row-fluid">
      <img src="{{ profile.picture.url }}">
    </div>
    {% endif %}

    {% if profile.contact_type == 'E' %}
    <div class="row-fluid" style="padding-top: 15px">
      <p class="sizeable-font"><strong>Contact</strong></p>
      <input type="text" id="id_sender-embedded" placeholder="Email" style="width: 185px; display: block"/>
      <textarea id="id_message-embedded" rows="3" cols="40" placeholder="Message"  style="width: 185px; display: block"></textarea>
      <button type="submit" class="btn btn-default" id="send-message-embedded" style="display: block"><strong>Send</strong></button>
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}
