{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Create Gallery{% endblock %}
{% block header %}{% endblock %}
{% block head %}
<style>
  #id_thumbnail_styled {
    width: 123px;
  }
  .form-errors {
    display: inline-block;
    border: 1px solid #ff4d42;
    border-radius: 5px;
    background: #ffe2d6;
    padding: 5px;
    color: #424242;
  }
</style>
{% endblock %}
{% block script %}
<script>
$(function() {
  $('#id_thumbnail').change(function() {
    $('#id_thumbnail_styled').val($(this).val().replace("C:\\fakepath\\", ""));
  });
});
</script>
{% endblock %}
{% block content %}
<div class="row-fluid muted">
  <div class="span6 offset4">
    <h3>Create Gallery</h3>
    {% if form.thumbnail.errors %}
    <p class="form-errors"><strong>Error: </strong>choose a valid image file</p>
    {% endif %}
    <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      <input id="id_title" type="text" name="title" maxlength="75" placeholder="Title"/>
      <input type="file" name="thumbnail" id="id_thumbnail" class="hide"/>
      <div class="pretty_file_input">
	<input id="id_thumbnail_styled" type="text" onclick="$('#id_thumbnail').click();" placeholder="Thumbnail">
	<a class="btn btn-default" onclick="$('#id_thumbnail').click();" style="margin-bottom: 10px"><b>Browse</b></a>
      </div>
      <input type="submit" value="Create Gallery" class="btn-green">
      <a class="btn-contact btn-link" href="/" style="margin-left: 10px">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
