{% extends "portfolio_base.html" %}
{% block title %}{{ profile.fullname }} | Edit Gallery{% endblock %}
{% block head %}
<style>
  .form-errors {
    display: inline-block;
    border: 1px solid #ff4d42;
    border-radius: 5px;
    background: #ffe2d6;
    padding: 5px;
    color: #424242;
  }
  .centered-box {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    border: 2px solid #{{ profile.text_color }};
    border-radius: 5px;
    padding: 10px;
  }
  #thumbnail-img {
    width: 30px;
    height: 30px;
  }
</style>
{% endblock %}
{% block script %}
<script>
$(function() {
  $('#id_thumbnail').change(function() {
    $('#id_thumbnail_styled').val($(this).val().replace("C:\\fakepath\\", ""));
  });
  $('#delete-current').click(function() {
    if (!$(this).hasClass('active')) {
      $(this).addClass('active btn-danger');
      $(this).removeClass('btn-default');
      $(this).find('i').addClass('icon-white');
      $('#id_thumbnail').val('');
      $('#id_thumbnail_styled').val('');
      $('#input-delete-current').val('True');
    } else {
      $(this).addClass('btn-default');
      $(this).removeClass('active btn-danger');
      $(this).find('i').removeClass('icon-white');
      $('#input-delete-current').val('False');
    }
  });
});
</script>
{% endblock %}
{% block content %}
<div class="centered-box muted">
  <h2>Edit Gallery</h2>
  {% if form.thumbnail.errors or error %}
  <p class="form-errors"><strong>Error: </strong>choose a valid image file!  Supported file types: JPEG, PNG, BMP.</p>
  {% endif %}
  <form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <input id="id_title" type="text" name="title" maxlength="75" placeholder="Title (optional)" style="width: 243px" {% if gallery.title %}value="{{ gallery.title }}"{% endif %}/>

    <input type="file" name="thumbnail" id="id_thumbnail" class="hide"/>
    <input tyle="hidden" name="delete_current_thumbnail" id="input-delete-current" class="hide" value="False" />

    {% if gallery.thumbnail %}
    <div class="pretty_file_input">
      <input id="id_thumbnail_styled" type="text" onclick="$('#id_thumbnail').click();" placeholder="Change thumbnail" style="width: 160px">
      <a class="btn btn-default" onclick="$('#id_thumbnail').click();" style="margin-bottom: 10px"><b>Change</b></a>
    </div>
    <div style="margin-bottom: 10px">
      <p style="display: inline-block"><strong>Currently: </strong></p>
      <img id="thumbnail-img" src="{{ gallery.thumbnail.url }}">
      <button type="button" class="btn btn-default" id="delete-current">
	<i class="icon-remove"></i><strong> Delete</strong>
      </button>
    </div>
    {% else %}
    <div class="pretty_file_input">
      <input id="id_thumbnail_styled" type="text" onclick="$('#id_thumbnail').click();" placeholder="Thumbnail (optional)" style="width: 162px">
      <a class="btn btn-default" onclick="$('#id_thumbnail').click();" style="margin-bottom: 10px"><b>Browse</b></a>
    </div>
    {% endif %}

    <div style="display: block">
      <input type="submit" value="Save Changes" class="btn btn-info btn-large" style="border-radius: 2px">
      <a class="btn btn-large btn-default" href="/gallery/{{ gallery.pk }}/" style="border-radius: 2px">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
