{% extends "portfolio_base.html" %}
{% block title %} | Edit Item{% endblock %}
{% block head %}
<style>
  .centered-box {
    margin: 0 auto;
    width: 300px;
  }
</style>
{% endblock %}
{% block content %}
<div class="centered-box muted">
  <h3>Edit Caption</h3>
  <form method="post" action=".">
    {% csrf_token %}
    {% if item.caption %}
    <input id="id_caption" type="text" name="caption" maxlength="200" value="{{ item.caption }}" style="width: 286px"/>
    {% else %}
    <input id="id_caption" type="text" name="caption" maxlength="200" placeholder="Caption (optional)" style="width: 286px"/>
    {% endif %}
    <input type="submit" value="Save" class="btn-green">
    <a class="btn-contact btn-link" href="/gallery/{{ item.gallery.pk }}/">Cancel</a>
  </form>
</div>
{% endblock %}
