<div class="row-fluid hide muted" id="gallery-editor" style="box-shadow: 1px 1px 1px 1px #{{ profile.text_color }}; width: 98%">
  <h4 style="text-align: center">Edit this gallery</h4>
  <div class="hide" id="gallery-pk">{{ gallery.pk }}</div>
  <button class="btn btn-default toggle-gallery-editor" style="position: absolute; top: 7px; right: 7px; border-radius: 2px">
    <strong>close</strong>
  </button>
  <!-- BEGIN Toggle private -->
  <div class="row-fluid">
    <div class="span3">
      <p class="muted" style="display: inline"><strong>This gallery is </strong></p>
    </div>
    <div class="span9">
      <div class="btn-group">
	{% if gallery.hidden %}
	<button type="button" class="btn btn-default show-gallery" value="True"><strong>public</strong></button>
	<button type="button" class="btn btn-danger hide-gallery active" value="False"><strong>private</strong></button>
	{% else %}
	<button type="button" class="btn btn-info show-gallery active" value="True"><strong>public</strong></button>
	<button type="button" class="btn btn-default hide-gallery" value="False"><strong>private</strong></button>
	{% endif %}
      </div>
    </div>
  </div>
  <!-- END Toggle private -->
  <!-- BEGIN Title -->
  <div class="row-fluid" style="margin-top: 10px">
    <div class="span3">
      <a class="pencil muted" id="trigger-editable-title" href="#">
	<strong>Title </strong>
	<img src="{{ STATIC_URL }}img/pencil_dull.png">
      </a>
    </div>
    <div class="span9">
      <div id="editable-title">
	{% if gallery.title %}
	<p id="valid-title">{{ gallery.title }}</p>
	{% else %}
	<p id="empty-title"><em>Currently empty</em></p>
	{% endif %}
	<input id="title-input" type="text" style="display: none" maxlength="75"></input>
      </div>
      <button type="button" class="btn btn-success" id="save-title" style="display: none; margin-bottom: 10px">
	<b>Save</b>
      </button>
      <button type="button" class="btn btn-default" id="cancel-title" style="display: none; margin-bottom: 10px">
	<i class="icon-remove"></i>
      </button>
    </div>
  </div>
  <!-- END Title -->
  <!-- BEGIN Description -->
  <div class="row-fluid">
    <div class="span3">
      <a class="pencil muted" id="trigger-editable-description" href="#"><b>Description </b><img src="{{ STATIC_URL }}img/pencil_dull.png"></a>
    </div>
    <div class="span9">
      <div id="editable-description">
	{% if gallery.description %}
	<p id="valid-description">{{ gallery.description|linebreaksbr }}</p>
	{% else %}
	<p id="empty-description"><em>Currently empty</em></p>
	{% endif %}
	<textarea id="description-textarea" style="display: none; width: 98%" rows="6"></textarea>
      </div>
      <button type="button" class="btn btn-success" id="save-description" style="display: none; margin-bottom: 10px">
	<b>Save</b>
      </button>
      <button type="button" class="btn btn-default" id="cancel-description" style="display: none; margin-bottom: 10px">
	<i class="icon-remove"></i>
      </button>
    </div>
  </div>
  <!-- END Description -->
  <!-- BEGIN Thumbnail -->
  <div class="row-fluid">
    <div class="span3">
      <a class="pencil muted" id="trigger-editable-thumbnail" href="#">
	<strong>Thumbnail </strong>
	<img src="{{ STATIC_URL }}img/pencil_dull.png">
      </a>
    </div>
    <div class="span9">
      <div id="thumbnail-details">
	{% if gallery.thumbnail %}
	<img id="thumbnail-img-large" src="{{ gallery.thumbnail.url }}">
	{% else %}
	<p><em>First image in gallery</em></p>
      {% endif %}
      </div>
      <form method="post" action="edit/" enctype="multipart/form-data" id="thumbnail-form" class="hide">
	{% csrf_token %}
	<input type="file" name="thumbnail" id="id_thumbnail" class="hide"/>
	<input tyle="hidden" name="delete_current_thumbnail" id="input-delete-current" class="hide" value="False" />
	{% if gallery.thumbnail %}
	<div style="margin-bottom: 5px">
	  <img id="thumbnail-img" src="{{ gallery.thumbnail.url }}">
	  <button type="button" class="btn btn-default" id="delete-current">
	    <strong>delete</strong>
	  </button>
	</div>
	<div class="pretty_file_input">
	  <input id="id_thumbnail_styled" type="text" onclick="$('#id_thumbnail').click();" placeholder="Change thumbnail" style="width: 160px">
	  <a class="btn btn-default" onclick="$('#id_thumbnail').click();" style="margin-bottom: 10px"><b>change</b></a>
	</div>
	{% else %}
	<div class="pretty_file_input">
	  <p><em>First image in gallery</em></p>
	  <input id="id_thumbnail_styled" type="text" onclick="$('#id_thumbnail').click();" placeholder="Thumbnail (optional)" style="width: 162px">
	  <a class="btn btn-default" onclick="$('#id_thumbnail').click();" style="margin-bottom: 10px"><b>browse</b></a>
	</div>
	{% endif %}
	<div style="display: block">
	  <input type="submit" value="save" class="btn btn-success" style="font-weight: bold">
	  <button type="button" class="btn btn-default" id="cancel-thumbnail">
	    <i class="icon-remove"></i>
	  </button>
	</div>
      </form>
    </div>
  </div>
  <!-- END Thumbnail -->
  <a class="btn btn-default pull-left" role="button" data-toggle="modal" href="#delete-gallery-modal" style="border-radius: 2px; margin-top: 10px">
    <strong>Delete this gallery</strong>
  </a>
</div>
