{% extends "portfolio_base.html" %}
{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/get-thumbnail.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
{% if profile.enable_slideshow %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.lite.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/slideshow.js"></script>
{% endif %}
{% if user.is_authenticated and user.username == username %}
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sorting.js"></script>
{% endif %}
<script>
  $(document).ready(function(){
    {% if profile.enable_slideshow %}
    {% if not user.is_authenticated or user.username != username or not profile.edit_mode %}
    {% if profile.slideshow_image_1 or profile.slideshow_image_2 or profile.slideshow_image_3 %}
    if (!window.sessionStorage.getItem("slideshow")) {
      window.sessionStorage.setItem("slideshow", "enable");
    }
    var speed = {% if profile.slow_slideshow %}3500{% else %}1000{% endif %};
    var timeout = {% if profile.slow_slideshow %}6000{% else %}4000{% endif %};
    if (window.sessionStorage.getItem("slideshow") != "disable") {
      window.sessionStorage.setItem("slideshow", "disable");
      $('.wrapper').data('background', $('.wrapper').css('background-color'));
      $('.wrapper').css('background', 'none');
      $('.wrapper').css('cursor', 'pointer');
      if ($("#background-container div").length == 1) {
        var styles = {
          opacity : "1.0",
          display : "block",
          zIndex : "3",
          position : "absolute",
          top : "0"
        };
        $("#background-container").find("div").css( styles );
      } else {
        $('#background-container').cycle({ speed: speed, timeout: timeout });
      }
      $('#background-container').fadeIn(200);
      $('#skip-text-container').show();
      $('#hidden-by-slideshow').hide();
      $('body').hover(
        function() {
          $('#skip-text-container').slideDown();
        },
        function() {
          $('#skip-text-container').slideUp();
        }
      );
    }
    {% endif %}
    {% endif %}
    {% endif %}

    $(".darken").hover(function() {
      $(this).find(".edit-button").show();
      var image = $(this).find("img");
      var title = $(this).find(".gallery-title");
      var left = (image.width() - title.outerWidth()) / 2;
      if (left <= 0) {
	left = 10;
      }
      title.css({
        position: 'absolute',
        left: left,
	right: left,
        top: (image.height() - title.outerHeight()) / 2
      });
      $(this).css('background', 'black');
      image.fadeTo(75, 0.6);
      title.show();
    }, function() {
      $(this).find(".edit-button").hide();
      $(this).find("img").fadeTo(10, 1.0);
      $(this).find(".gallery-title").hide();
      $(this).animate( {background: 'none'}, 10);
    });
    $('#id_thumbnail').change(function() {
      $('#id_thumbnail_styled').val($(this).val().replace("C:\\fakepath\\", ""));
    });
    $('#gallery-form').submit(function(event) {
      $('#create-gallery').prop('disabled', true);
      return true;
    });
  });
</script>
{% endblock %}
{% block head %}
<style>
  .thumbnails > li {
    margin: 1px 3px 0 3px;
  }
  .thumbnail-img {
    height: {{ profile.thumbnail_dimension }}px;
    width: {{ profile.thumbnail_dimension }}px;
  }
</style>
{% endblock %}

{% block backgrounds %}
<div id="background-container">
  {% if profile.slideshow_image_1 %}
  <div style="background-image: url('{{ profile.slideshow_image_1.url }}');"></div>
  {% endif %}
  {% if profile.slideshow_image_2 %}
  <div style="background-image: url('{{ profile.slideshow_image_2.url }}');"></div>
  {% endif %}
  {% if profile.slideshow_image_3 %}
  <div style="background-image: url('{{ profile.slideshow_image_3.url }}');"></div>
  {% endif %}
</div>
{% endblock %}

{% block modals %}
{% if profile.show_get_started %}
<!-- Get-started modal -->
<div class="modal hide fade" role="dialog" tabindex="-1" id="get-started-modal" arialabelledby="get-started-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="create-gallery-heading" style="color: #424242">Getting Started</h3>
  </div>
  <div class="modal-body">
    <h4 style="color: #424242">Start showcasing your work!</h4>
    <ul style="color: #424242; padding-bottom: 20px">
      <li>Make sure you check out the <a href="/customize/">customization</a> options.</li>
      <li>Edit your portfolio's <a href="/about/">about</a> page.</li>
      <li>Visit the <a href="/help/">FAQs</a> page for any questions you have.</li>
    </ul>
    <input type="checkbox" id="disable-get-started-modal" style="margin: 0 2px 2px 0">Don't show this again</input>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if profile.skip_text %}
<div id="skip-text-container">
  <h4 id="skip-text-display">{{ profile.skip_text }}</h4>
</div>
{% endif %}
{% if user.is_authenticated and user.username == username %}
{% if profile.photo_count > customer.account_limit %}
<h1 style="color: red">UPLOAD LIMIT EXCEEDED</h1>
<p style="color: orange"><em>You've exceeded your upload limit ({{ customer.account_limit }} uploads)!  
    Please either <a href="/settings">upgrade</a> your account or delete the extra uploads 
    to re-enable your public portfolio.</em></p>
{% endif %}
{% endif %}
{% if user.is_authenticated and user.username == username and profile.edit_mode %}
<div class="row-fluid">
  <form method="post" action="/create_gallery/" enctype="multipart/form-data" id="gallery-form">
    {% csrf_token %}
    {% if profile.photo_count > 0 %}
    <input type="submit" value="New Gallery" class="btn btn-info btn-large" id="create-gallery" style="border-radius: 10px">
    {% else %}
    <input type="submit" value="Upload Your Work" class="btn btn-info btn-large" id="create-gallery" style="border-radius: 10px; width: 200px">
    {% endif %}
  </form>
</div>
{% endif %}
<div class="row-fluid muted" id="hidden-by-slideshow">
  <div class="span12">
    <ul class="thumbnails sortable-galleries">
      {% for gallery in galleries %}
      <!-- Determine which galleries to show to whom -->
      {% if user.is_authenticated and user.username == username and profile.edit_mode and gallery.hidden %}
      <li id="galleries_{{ gallery.pk }}" class="hidden-gallery">
      {% elif not gallery.hidden %}
      <li id="galleries_{{ gallery.pk }}">
      {% else %}
      <li id="galleries_{{ gallery.pk }}" class="hide">
      {% endif %}
	<div style="position: relative; left: 0; top: 0;" class="darken">
	  {% if gallery.count > 0 %}
	  <a href="/gallery/{{ gallery.pk }}/" {% if user.is_authenticated and user.username == username and profile.edit_mode %}class="grab"{% endif %}>
	    {% with thumbnail_item=gallery.thumbnail_item %}
	    {% if gallery.thumbnail %}
	    <img src="{{ gallery.thumbnail.url }}" class="thumbnail-img">
	    {% elif thumbnail_item %}
	      {% if thumbnail_item.is_photo %}
	      <img src="{{ thumbnail_item.photo.thumbnail.url }}" class="thumbnail-img">
	      {% else %}
	      <!-- Get the video thumbnail here -->
	      <img class="video-thumbnail-img thumbnail-img" src="{{ STATIC_URL }}img/empty_gallery_square.png" data-url="{{ thumbnail_item.video.url }}">
	      {% endif %}
	    {% else %}
	      {% with first_item=gallery.item_set.all|first %}
	      {% if first_item.is_photo %}
	      <img src="{{ first_item.photo.thumbnail.url }}" class="thumbnail-img">
	      {% else %}
	      <!-- Get the video thumbnail here -->
	      <img class="video-thumbnail-img thumbnail-img" src="{{ STATIC_URL }}img/empty_gallery_square.png" data-url="{{ first_item.video.url }}">
	      {% endif %}
	      {% endwith %}
	    {% endif %}
	    {% endwith %}
            <div class="gallery-title">
	      <h4 style="color: white">{{ gallery.title }}</h4>
	    </div>
	  </a>
	  {% else %} <!-- gallery.count == 0 -->
	  <a href="/gallery/{{ gallery.pk }}/" {% if user.is_authenticated and user.username == username and profile.edit_mode %}class="grab"{% endif %}>
	    {% if gallery.thumbnail %}
	    <img src="{{ gallery.thumbnail.url }}" class="thumbnail-img">
	    {% else %}
	    <img src="{{ STATIC_URL }}img/empty_gallery_square.png" class="thumbnail-img">
	    {% endif %}
            <div class="gallery-title"><h4 style="color: white">{{ gallery.title }} (empty)</h4></div>
	  </a>
	  {% endif %}
	  {% if user.is_authenticated and user.username == username and profile.edit_mode %}
	  <a href="/gallery/{{ gallery.pk }}/" style="position: absolute; left: 0px; top: 0px; border-radius: 0px" class="btn btn-default hide edit-button">
	    <i class="icon-edit"></i> <strong>Edit</strong>
	  </a>
	  {% endif %}
	  {% if user.is_authenticated and user.username == username and profile.edit_mode and gallery.hidden %}
            <div><h4 style="color: white; position: absolute; bottom: 5px; left: 5px; margin: 0">(private)</h4></div>
	  {% endif %}
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
