<div class="row-fluid hide" id="uploader">
  <form id="fileupload" method="post" action="/upload_multiple_images/{{ gallery.pk }}/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="fileupload-buttonbar">
      <span class="btn btn-info fileinput-button">
        <i class="icon-plus icon-white"></i>
	<strong> Add images</strong>
        <input type="file" name="file" multiple>
      </span>
      <button type="reset" class="btn btn-danger">
	<i class="icon-ban-circle icon-white"></i>
	<strong> Cancel</strong>
      </button>
    </div>
    <div id="progress">
      <div class="bar" style="width: 0%"></div>
    </div>
    <table class="table table-striped"><tbody class="files"></tbody></table>
  </form>
</div>
