<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Folio24 &middot; Error</title>
    <meta name="viewport" content="user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://s3.amazonaws.com/folio24/static/img/favicon.ico" />
    <link href="https://s3.amazonaws.com/folio24/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/folio24/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/folio24/static/css/site_style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <div class="top-banner">
	<div class="masthead">
	  <a href="http://www.folio24.com/" class="logo">Folio24</a>
	</div>
      </div>
      <div class="row container-narrow">
	<div class="jumbotron" style="padding-top: 100px">
	  <h1 class="muted">Error!</h1>
	  <p class="lead muted">This one's our fault.  We're on it.</p>
	  <a onclick="history.go(-1)" class="btn btn-default btn-large">Back</a>
	</div>
      </div>
      <div class="push"></div>
    </div><!-- Wrapper -->

    <div class="footer-special muted">
      <div class="container-narrow">
	<p style="font-size: 1.4em; text-align: center; padding-top: 30px">
	  <a href="https://twitter.com/folio_24" class="dull-link-special" target="_blank">@folio_24</a>
	  <span style="color: #ababab; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://facebook.com/folio24" class="dull-link-special" target="_blank">facebook</a>
	  <span style="color: #ababab; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.folio24.com/about/" class="dull-link-special">about</a>
	  <span style="color: #ababab; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.folio24.com/contact/" class="dull-link-special">contact</a>
	  <span style="color: #ababab; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.folio24.com/examples/" class="dull-link-special">examples</a>
	  <span style="color: #ababab; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.folio24.com/register/" class="dull-link-special">sign up</a>
	</p>
	<p style="text-align: center; padding-top: 15px">&copy; 2013, Pasko Enterprises LLC.  
	  All rights reserved.  
	  <a href="https://www.folio24.com/terms/" style="text-decoration: none">Terms</a> | <a href="https://www.folio24.com/privacy/" style="text-decoration: none">Privacy</a>
	</p>
      </div>
    </div>
  </body>
</html>
