{% extends "site_base.html" %}
{% block title %}About{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container-narrow muted" style="padding-top: 30px">
  <div style="text-align: center">
    <h2 style="font-size: 3em" class="colored">About us</h2>
  </div>
  <div class="row-fluid marketing">
    <div class="span6" style="border-right: 1px solid #D6D6D6;">
      <h4 class="muted">Who we are</h4>
      <p>We're a couple of engineers who happen to have an eye for design and a love of photography.</p>
    </div>

    <div class="span6">
      <h4 class="muted">Why we do it</h4>
      <p>We wanted a slick way to show off our photos to friends.  When we couldn't find what we wanted,
	we made it ourselves!</p>
    </div>
  </div>
  <iframe width="100%" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=47.626806,-122.319898&amp;spn=0.016833,0.039482&amp;t=v&amp;z=15&amp;output=embed"></iframe>
</div>
{% endblock %}
