{% extends "site_base.html" %}
{% block title %}About{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container muted" style="padding-top: 30px">
  <div style="text-align: center">
    <h2 style="font-size: 3em" >About us</h2>
  </div>
  <div class="row marketing" style="margin-top: 30px">
    <div class="span5" style="text-align: center">
      <h5 class="muted">Who we are</h5>
      <p>We're a group of engineers and friends located in beautiful Seattle with an eye for design and a love of photography.</p>
    </div>
    <div class="span1"></div>
    <div class="span5" style="padding-left: 30px; text-align: center">
      <h5 class="muted">Why we do it</h5>
      <p>Need a simple, affordable way to showcase your work?  We couldn't find what we wanted, so
	we made it ourselves!</p>
    </div>
  </div>
  <iframe width="100%" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=47.626806,-122.319898&amp;spn=0.016833,0.039482&amp;t=v&amp;z=15&amp;output=embed" style="padding-bottom: 30px; margin-top: -25px"></iframe>
</div>
{% endblock %}
