{% extends "site_base.html" %}
{% block title %}About{% endblock %}
{% block head %}
<meta name="description" content="The story of how Folio24 came to be, our location, and other details.">
<style>
  .wrapper {
    background-image: url('{{ STATIC_URL }}img/textures/seamlesstexture13_500.jpg');
  }
</style>
{% endblock %}
{% block content %}
<div class="container" style="padding: 50px 0 30px 0">
  <div class="about-box">
    <h3 class="dark" style="margin-bottom: 20px">
      About Folio24
    </h3>
    <p class="dark">
      Folio24 helps you build and manage a beautiful online portfolio to showcase your creative work.  Whether you're a photographer, graphic artist,
      illustrator, architect, or just want to display your travel photos, Folio24 is perfect for you.
    </p>
    <p class="dark">
      Our convenient image uploader, simple interface, and customization options will help you create your professional-looking portfolio
      in minutes.
      You won't have to worry about HTML or CSS and you can even use your own custom domain name.
    </p>
    <p class="dark">
      Check out some <a href="http://www.{{ DOMAIN }}/#id_examples" style="text-decoration: none">examples</a> and
      <a href="https://www.{{ DOMAIN }}/register/basic/" style="text-decoration: none">sign up</a> for a 
      free account today!
    </p>
    <br>
    <h3 class="dark">
      Featured on
    </h3>
    <a href="http://mashable.com/2013/09/17/online-portfolio/" target="_blank" style="margin-right: 20px">
      <img src="{{STATIC_URL}}img/Mashable-Logo.png" alt="Mashable logo">
    </a>
    <a href="http://www.makeuseof.com/tag/what-are-the-best-tools-for-hosting-your-portfolio-online/" target="_blank">
      <img src="{{STATIC_URL}}img/makeuseof.png" alt="Makeuseof logo">
    </a>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer_special.html" %}
{% endblock %}
