{% extends "site_base.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
<style>
  .form-errors {
    border: 1px solid #ff4d42;
    border-radius: 5px;
    background: #ffe2d6;
    padding: 3px;
    width: 85%;
    margin: 3px auto;
  }
  .message-success {
    color: #4fc46f;
    text-align: center;
  }
</style>
{% endblock %}
{% block content %}
<!-- Contact modal -->
<div class="modal hide fade" role="dialog" tabindex="-1" id="contact-form" arialabelledby="contact-form-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="create-gallery-heading" style="color: #424242">Send us a message</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="." style="padding-top: 10px">
      {% csrf_token %}
      <input type="text" name="sender" id="id_sender" placeholder="Your email (optional, for a reply)"  style="width: 97%"/>
      <textarea id="id_message" rows="4" name="message" placeholder="Message" style="width: 97%"></textarea>
      <input type="submit" value="Send" class="btn btn-large btn-primary" />
      <button class="btn btn-default btn-large" data-dismiss="modal">Close</button>
    </form>
  </div>
</div>
<!-- end modal -->
<div class="container muted" style="padding-top: 30px">
  <div class="centered-box">
    <h1 class="colored" style="font-size: 3em">Contact</h1>
    <div class="contact-box">
      <p><em>Fill out the form, or send an email</em></p>
      {% if form.sender.errors %}
      <p class="form-errors">Invalid email address</p>
      {% endif %}
      {% if form.message.errors %}
      <p class="form-errors">Write a message before sending</p>
      {% endif %}
      <a href="#contact-form" role="button" data-toggle="modal" class="btn btn-large btn-default signup-btn" style="font-size: 1.6em; margin: 30px 0; padding: 20px">
	<strong>Contact form</strong>
      </a>
      <p><a href="mailto:contact@folio24.com" style="display: inline-block; text-decoration: none" class="muted">
	  contact@folio24.com
      </a></p>
    </div>
  </div>
</div>
{% endblock %}
