{% extends "site_base.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
<style>
  .form-errors {
    border: 1px solid #ff4d42;
    border-radius: 5px;
    background: #ffe2d6;
    padding: 3px;
    width: 344px;
    margin: 3px auto;
    color: #121212;
  }
  .message-success {
    color: #4fc46f;
    text-align: center;
  }
  .wrapper {
    background-image: url('{{ STATIC_URL }}img/textures/seamlesstexture12_500.jpg');
  }
  .bullet-special, .dull-link-special, .llc-special {
    color: rgb(130,130,130) !important;
  }
  .footer-special {
    border-top: 1px solid rgb(70,70,70);
  }
</style>
{% endblock %}
{% block content %}
<!-- Contact modal -->
<div class="modal hide fade" role="dialog" tabindex="-1" id="contact-form" arialabelledby="contact-form-heading">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="create-gallery-heading" style="color: #424242">Send us a message</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="." style="padding-top: 10px">
      {% csrf_token %}
      <input type="text" name="sender" id="id_sender" placeholder="Your email (optional, for a reply)"  style="width: 97%"/>
      <textarea id="id_message" rows="4" name="message" placeholder="Message" style="width: 97%"></textarea>
      <input type="submit" value="Send" class="btn btn-large btn-primary" />
      <button class="btn btn-default btn-large" data-dismiss="modal">Close</button>
    </form>
  </div>
</div>
<!-- end modal -->
<div class="contact-box">
  <form method="post" action=".">
    {% csrf_token %}
    {% if form.sender.errors %}
    <p class="form-errors">Invalid email address</p>
    {% endif %}
    {% if form.message.errors %}
    <p class="form-errors">Write a message before sending</p>
    {% endif %}
    <input type="text" name="sender" id="id_sender" placeholder="Your email (optional, for a reply)"  style="width: 85%"/>
    <textarea id="id_message" rows="4" name="message" placeholder="Your message here" style="width: 85%"></textarea>
    <input type="submit" value="Send message" class="btn btn-large signup-btn" style="width: 352px"/>
  </form>
</div>
<div class="contact-box" style="margin: 0 auto 30px auto">
  <p><em>Or send email to:</em></p>
  <p><a href="mailto:contact@folio24.com" style="display: inline-block; text-decoration: none; color: white">
      contact@folio24.com
  </a></p>
</div>
{% endblock %}
{% block footer %}
{% include "footer_special.html" %}
{% endblock %}
