{% extends "site_base.html" %}
{% block title %}Your free online portfolio{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('#custom-carousel').carousel({
      interval: 7000
    });
    $(".darken").hover(function() {
      var image = $(this).find("img");
      var title = $(this).find(".thumbnail-title");
      var left = (image.width() - title.outerWidth()) / 2;
      title.css({
        left: left,
        top: (image.height() - title.outerHeight()) / 2
      });
      image.fadeTo(50, 0.4);
      title.show();
    }, function() {
      $(this).find("img").fadeTo(10, 1);
      $(this).find(".thumbnail-title").hide();
    });
});
</script>
{% endblock %}
{% block head %}
<style>
  .top-banner {
    border: none !important;
  }
</style>
{% endblock %}
{% block content %}
<div class="splash">
  <div class="jumbotron" style="margin-bottom: 0">
    <h1 style="font-family: 'Raleway', sans-serif; color: white; font-weight: 500; font-size: 5em">Your online portfolio</h1>
    <p class="lead" style="font-family: 'Raleway', sans-serif; color: white; font-weight: 700">Images & video &bull; Custom domain name &bull; No HTML/CSS</p>
    <a class="btn btn-large signup-btn" href="https://www.{{ DOMAIN }}/register/basic/" style="padding: 25px">
      <strong style="font-size: 1.4em">Sign up &bull; Free</strong>
    </a>
  </div>
  <div style="position: absolute; left: 964px; top: 100px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 193px; top: 140px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 450px; top: 15px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1029px; top: 7px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1093px; top: 150px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1220px; top: 80px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1029px; top: 250px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 836px; top: 70px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 874px; top: 300px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1157px; top: 270px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 257px; top: 70px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 643px; top: 60px">
    <p class="star">.</p>
  </div>
</div>

<div class="below-splash">
  <div class="container">
    <div style="text-align: center">
      <div class="row marketing" style="margin: 0">
	<div class="span4" style="padding: 40px 0">
	  <h2 class="colored" style="font-family: Raleway', sans-serif">Classy</h2>
	  <img src="{{ STATIC_URL }}img/classy.png" alt="" class="classy-simple-free">
	  <p class="colored">We provide you with a sleek, modern look that
	    puts the emphasis on your work.</p>
	</div>

	<div class="span3" style="border-left: 2px solid #ededed; border-right: 2px solid #ededed; padding: 40px 25px">
	  <h2 class="colored" style="font-family: Raleway', sans-serif;">Simple</h2>
	  <img src="{{ STATIC_URL }}img/simple.png" alt="" class="classy-simple-free">
	  <p class="colored">Customize your portfolio without using a hint of HTML or CSS.</p>
	</div>

	<div class="span4" style="padding: 40px 0">
	  <h2 class="colored" style="font-family: Raleway', sans-serif;">Free</h2>
	  <img src="{{ STATIC_URL }}img/free.png" alt="" class="classy-simple-free">
	  <p class="colored">No commitments whatsoever.  Upgrade later if you decide you need more uploads.</p>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="examples" id="id_examples">
  <div class="container">
    <h3 class="featurette-heading colored" style="text-align: center; padding-bottom: 20px">Beauty, simplified. <span class="muted">A stunning portfolio.</span></h3>
    <div id="slider">
      <div id="swipe">
	<div class="swipe-wrap">
	  <div style="position: relative" class="swipe-div">
	    <img src="{{ STATIC_URL }}img/vesper.jpg" alt="" class="slider-img">
	    <div class="slider-title">
	      <a href="https://jpasko.{{ DOMAIN }}/" class="btn btn-large btn-default signup-btn top-btn" target="_blank">
		<strong>View portfolio</strong>
	      </a>
	    </div>
	  </div>
	  <div style="position: relative">
	    <img src="{{ STATIC_URL }}img/example1.jpg" alt="" class="slider-img">
	    <div class="slider-title">
	      <a href="https://example1.{{ DOMAIN }}/" class="btn btn-large btn-default signup-btn top-btn" target="_blank">
		<strong>View portfolio</strong>
	      </a>
	    </div>
	  </div>
	  <div style="position: relative">
	    <img src="{{ STATIC_URL }}img/example2.jpg" alt="" class="slider-img">
	    <div class="slider-title">
	      <a href="https://example2.{{ DOMAIN }}/" class="btn btn-large btn-default signup-btn top-btn" target="_blank">
		<strong>View portfolio</strong>
	      </a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div id="swipe_nav">
      <h1 class="colored" id="swipe_nav_1">&bull;</h1>
      <h1 class="dull" id="swipe_nav_2">&bull;</h1>
      <h1 class="dull" id="swipe_nav_3">&bull;</h1>
      <a class="btn btn-large signup-btn" href="https://www.{{ DOMAIN }}/examples/" style="margin: -55px 0 0 40px"><strong>More examples</strong></a>
    </div>

  </div>
</div>
<div class="container-narrow" style="font-family: Raleway', sans-serif">
  <div class="featurette">
    <h3 class="featurette-heading colored" style="padding-top: 40px">All the features you expect. <span class="muted">And more.</span></h3>
    <table class="table table-striped" style="margin-bottom: 10px">
      <thead>
        <tr>
          <th></th>
          <th><a class="table-link" href="https://www.{{ DOMAIN }}/register/basic/">Basic</a></th>
          <th><a class="table-link" href="https://www.{{ DOMAIN }}/register/premium/">Premium</a></th>
          <th><a class="table-link" href="https://www.{{ DOMAIN }}/register/professional/">Professional</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Price</td>
          <td class="std-table-cell" style="font-size: 1.3em">Free!</td>
          <td class="std-table-cell"><span style="font-size: 1.3em">$6</span>/month</td>
          <td class="std-table-cell"><span style="font-size: 1.3em">$9</span>/month</td>
        </tr>
        <tr>
          <td>Image and video* uploads</td>
          <td class="std-table-cell" style="font-size: 1.3em">{{ FREE_IMAGE_LIMIT }}</td>
          <td class="std-table-cell" style="font-size: 1.3em">{{ PREMIUM_IMAGE_LIMIT }}</td>
          <td class="std-table-cell" style="font-size: 1.3em">{{ PROFESSIONAL_IMAGE_LIMIT }}</td>
        </tr>
        <tr>
          <td>Maximum image size</td>
          <td class="std-table-cell"><span style="font-size: 1.3em">{{ FREE_MAX_FILE_SIZE }}</span> MB/image</td>
          <td class="std-table-cell"><span style="font-size: 1.3em">{{ PREMIUM_MAX_FILE_SIZE }}</span> MB/image</td>
          <td class="std-table-cell"><span style="font-size: 1.3em">{{ PROFESSIONAL_MAX_FILE_SIZE }}</span> MB/image</td>
        </tr>
        <tr>
          <td>About/profile page</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Customizable dimensions, font, and color</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Responsive, mobile-ready layout</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Spam-fighting contact form</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Private galleries</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Galleria and Lightbox viewers</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Banner image</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Integration with Google Analytics</td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>Custom domain name support</td>
          <th class="std-table-cell"><i class="icon-remove icon-dull"></i></th>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>No Folio24 logo</td>
          <th class="std-table-cell"><i class="icon-remove icon-dull"></i></th>
          <th class="std-table-cell"><i class="icon-remove icon-dull"></i></th>
          <td class="std-table-cell"><i class="icon-ok"></i></td>
        </tr>
      </tbody>
    </table>
    <p style="font-size: 0.8em; padding-bottom: 10px">*Upload video from YouTube, Vimeo, and Dailymotion</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <h3 class="featurette-heading colored" style="text-align: right">An intuitive interface. <span class="muted">Get running quickly.</span></h3>
    <div style="position: relative; padding-bottom: 140px; padding-top: 20px">
      <img src="{{ STATIC_URL }}img/screenshots/screen6.png" class="slider-img" style="width: 550px">
      <img src="{{ STATIC_URL }}img/screenshots/screen5.png" class="slider-img" style="position: absolute; top: 190px; left: 80px; width: 500px">
      <img src="{{ STATIC_URL }}img/screenshots/screen2.png" class="slider-img" style="position: absolute; top: 60px; left: 320px; width: 550px">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurette" style="padding: 0 0 30px 0">
    <h3 class="featurette-heading colored">Never any ads. <span class="muted">Your portfolio is <em>yours</em>.</span></h3>
  </div>
</div>

<div class="bottom-links">
  <div class="jumbotron" style="padding-top: 40px; padding-bottom: 30px">
    <a class="btn btn-large signup-btn" href="https://www.{{ DOMAIN }}/register/" style="width: 40%"><strong>Sign up</strong></a>
  </div>
</div>
<script src="{{ STATIC_URL }}js/swipe.js"></script>
<script src="{{ STATIC_URL }}js/run-swipe.js"></script>
{% endblock %}
