{% extends "site_base.html" %}
{% block title %}Your free online portfolio{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('#custom-carousel').carousel({
      interval: 7000
    });
    $(".darken").hover(function() {
      var image = $(this).find("img");
      var title = $(this).find(".thumbnail-title");
      var left = (image.width() - title.outerWidth()) / 2;
      title.css({
        left: left,
        top: (image.height() - title.outerHeight()) / 2
      });
      image.fadeTo(50, 0.4);
      title.show();
    }, function() {
      $(this).find("img").fadeTo(10, 1);
      $(this).find(".thumbnail-title").hide();
    });
});
</script>
{% endblock %}
{% block head %}
<style>
  .top-banner {
    border: none !important;
  }
</style>
{% endblock %}
{% block content %}
<div class="splash">
  <div class="jumbotron" style="margin-bottom: 0">
    <h1 style="font-family: 'Raleway', sans-serif; color: white; font-weight: 500; font-size: 6em">Your online portfolio</h1>
    <p class="lead" style="font-family: 'Raleway', sans-serif; color: white; font-weight: 700">Images & video &bull; Custom domain name &bull; No HTML/CSS</p>
    <a class="btn btn-large signup-btn" href="https://www.{{ DOMAIN }}/register/basic/"><strong>Sign up &bull; Free</strong></a>
  </div>
  <div style="position: absolute; left: 964px; top: 100px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 193px; top: 140px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 450px; top: 15px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1029px; top: 7px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1093px; top: 150px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1220px; top: 80px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1029px; top: 250px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 836px; top: 70px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 874px; top: 300px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 1157px; top: 270px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 257px; top: 70px">
    <p class="star">.</p>
  </div>
  <div style="position: absolute; left: 643px; top: 60px">
    <p class="star">.</p>
  </div>
</div>

<div class="below-splash">
  <div class="container">
    <div style="text-align: center">
      <div class="row-fluid marketing" style="margin: 0">
	<div class="span3 offset1" style="padding: 40px 0">
	  <h2 class="colored" style="font-family: Raleway', sans-serif;">Classy</h2>
	  <p class="colored">A portfolio should never compete with its content.  We provide you with a sleek, modern look that
	    puts the emphasis on your work.</p>
	</div>

	<div class="span4" style="border-left: 1px solid #ededed; border-right: 1px solid #ededed; padding: 40px 25px">
	  <h2 class="colored" style="font-family: Raleway', sans-serif;">Simple</h2>
	  <p class="colored">It's a breeze to customize your portfolio and upload images and video.  You can change colors, fonts, and even the layout.  
	  All without a hint of HTML or CSS.</p>
	</div>

	<div class="span3" style="padding: 40px 0">
	  <h2 class="colored" style="font-family: Raleway', sans-serif;">Free</h2>
	  <p class="colored">Get started right now for free!  Upgrade later if you need more uploads or the use of a custom domain name.  No
	  commitments whatsoever.</p>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="examples" id="id_examples">
  <div class="container">
    <hr style="padding-bottom: 30px; margin: 0">
    <!--<h1 class="colored" style="text-align: center">Examples</h1>-->
    <ul class="thumbnails">
      <li class="span4">
	<a href="http://jpasko.{{ DOMAIN }}/" target="_blank" class="thumbnail darken">
	  <img src="{{ STATIC_URL }}img/sunset.jpg" alt="">
	  <div class="thumbnail-title hide"><h3>James Pasko's portfolio</h3></div>
	</a>
      </li>
      <li class="span4">
	<a href="http://jpasko.{{ DOMAIN }}/" target="_blank" class="thumbnail darken">
	  <img src="{{ STATIC_URL }}img/vesper.jpg" alt="">
	  <div class="thumbnail-title hide"><h3>James Pasko's portfolio</h3></div>
	</a>
      </li>
      <li class="span4">
	<a href="http://jpasko.{{ DOMAIN }}/" target="_blank" class="thumbnail darken">
	  <img src="{{ STATIC_URL }}img/sunrise.jpg" alt="">
	  <div class="thumbnail-title hide"><h3>James Pasko's portfolio</h3></div>
	</a>
      </li>
    </ul>
    <div class="jumbotron" style="padding: 0">
      <a class="btn signup-btn" href="/examples/"><strong>More examples</strong></a>
    </div>
  </div>
</div>
<!--
<div class="container-narrow" id="examples">
  <div id="custom-carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <a href="http://jpasko.{{ DOMAIN }}/" target="_blank">
	  <img src="{{ STATIC_URL }}img/seattle.png" alt="">
	</a>
        <div class="container">
          <div class="carousel-caption">
            <a class="btn btn-large btn-primary" href="http://jpasko.{{ DOMAIN }}/" target="_blank" style="float: right; margin-right: 100px">
	      View James Pasko's Portfolio
	    </a>
          </div>
        </div>
      </div>
      <div class="item">
        <a href="http://rnoyce.{{ DOMAIN }}/" target="_blank">
          <img src="{{ STATIC_URL }}img/seattle.png" alt="">
	</a>
        <div class="container">
          <div class="carousel-caption">
            <a class="btn btn-large btn-primary" href="http://rnoyce.{{ DOMAIN }}/" target="_blank" style="float: right; margin-right: 100px">
	      View Robert Noyce's Portfolio
	    </a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#custom-carousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#custom-carousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
-->


<div class="container-narrow" style="font-family: Raleway', sans-serif;">
  <div class="featurette">
    <h3 class="featurette-heading">Free. <span class="muted">And you get <em>all</em> the features.</span></h3>
    <div style="padding-left: 25px" class="muted">
      <p><i class="icon-ok icon-dull"></i> Upload images and video from YouTube, Vimeo, and Dailymotion</p>
      <p><i class="icon-ok icon-dull"></i> Use your own custom domain name (www.yourowndomain.com)</p>
      <p><i class="icon-ok icon-dull"></i> Create a full profile including links to your social pages and blog</p>
      <p><i class="icon-ok icon-dull"></i> Employ our easy contact page designed to combat spam</p>
      <p><i class="icon-ok icon-dull"></i> Enjoy a fully customizable portfolio with Galleria viewer</p>
      <p><i class="icon-ok icon-dull"></i> Integrate with Google Analytics to track your portfolio views</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <h3 class="featurette-heading colored" style="text-align: right">Beauty, Simplified. <span class="muted">A stunning portfolio.</span></h3>
    <p class="lead"></p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <h3 class="featurette-heading colored">Never Any Ads. <span class="muted">That's a promise.</span></h3>
    <p class="lead"></p>
  </div>
</div>

<div class="bottom-links">
  <div class="jumbotron" style="padding: 30px 0">
    <a class="btn btn-large signup-btn" href="https://www.{{ DOMAIN }}/register/" style="width: 40%"><strong>Sign up</strong></a>
  </div>

  <div class="muted" style="text-align: center">
    <p style="font-size: 1.4em">
      <a href="http://twitter.com/folio_24" class="dull-link muted" target="_blank">@folio_24</a>
      <span style="color: #374553; padding-right: 30px; padding-left: 30px">&bull;</span>
      <a href="http://facebook.com/folio24" class="dull-link muted" target="_blank">facebook</a>
      <span style="color: #374553; padding-right: 30px; padding-left: 30px">&bull;</span>
      <a href="/contact/" class="dull-link muted">contact</a>
      <span style="color: #374553; padding-right: 30px; padding-left: 30px">&bull;</span>
      <a href="/about/" class="dull-link muted">about</a>
    </p>
  </div>
</div>
{% endblock %}
