<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="GVEJ57DukrU3N9YOnDlpe4jsB9zdZ7E-5ynguj4mLaE" />
    <meta charset="utf-8">
    <title>Folio24 &middot; {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Folio24 makes it simple to share your best creative work online.  Get started with a free, professional portfolio today!">
    <meta name="keywords" content="portfolio, free portfolio, online portfolio, free online portfolio, folio24, photography, professional" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link href="{{ STATIC_URL }}css/bootstrap-standard.min.css" rel="stylesheet">
    <!--<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/site_style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.logo').hover(function () {
          $(this).find('img').prop('src', '{{ STATIC_URL }}img/small_lemon.png');
        }, function () {
          $(this).find('img').prop('src', '{{ STATIC_URL }}img/small_lemon_dull.png');
        });
      });
    </script>
    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38959614-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="wrapper">

      <div class="container top-banner">
	<div class="masthead">
          <ul class="nav nav-pills pull-right" style="margin-right: 20px; padding-top: 3px">
	    {% if not user.is_authenticated %}
	    <li><a href="https://www.{{ DOMAIN }}/register/" class="nav-link">sign up</a></li>
	    <li><a href="https://www.{{ DOMAIN }}/login/" class="nav-link">login</a></li>
            {% else %}
	    <li><a href="https://{{ user.username }}.{{ DOMAIN }}/" class="nav-link">profile</a></li>
	    <li><a href="https://www.{{ DOMAIN }}/logout/" class="nav-link">logout</a></li>
            {% endif %}
          </ul>
          <h2 style="margin-left: 30px">
	    <a href="https://www.{{ DOMAIN }}/" class="logo">folio<img src="{{ STATIC_URL }}img/small_lemon_dull.png" style="padding-left: 0px;">24</a>
	  </h2>
	</div>
      </div>

      <div class="content">
      {% block content %}{% endblock %}
      </div>

      
      <div class="push"></div>

    </div><!-- Wrapper -->

    <div class="footer muted">
      <div class="container-narrow">
	<p style="font-size: 1.4em; text-align: center; padding-top: 30px">
	  <a href="https://twitter.com/folio_24" class="dull-link muted" target="_blank">@folio_24</a>
	  <span style="color: #374553; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://facebook.com/folio24" class="dull-link muted" target="_blank">facebook</a>
	  <span style="color: #374553; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.{{ DOMAIN }}/about/" class="dull-link muted">about</a>
	  <span style="color: #374553; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.{{ DOMAIN }}/contact/" class="dull-link muted">contact</a>
	  <span style="color: #374553; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.{{ DOMAIN }}/examples/" class="dull-link muted">examples</a>
	  <span style="color: #374553; padding-right: 20px; padding-left: 20px">&bull;</span>
	  <a href="https://www.{{ DOMAIN }}/register/" class="dull-link muted">sign up</a>
	</p>
        <p style="text-align: center; padding-top: 15px">&copy; {% now "Y" %}, Pasko Enterprises LLC.  
	  All rights reserved.  
	  <a href="https://www.{{ DOMAIN }}/terms/" style="text-decoration: none">Terms</a> | <a href="https://www.{{ DOMAIN }}/privacy/" style="text-decoration: none">Privacy</a>
	</p>
      </div>
    </div>
  </body>
</html>
