<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
    <meta property="fb:app_id" content="153488074831936" /> 
    <meta property="og:type"   content="object" /> 
    <meta property="og:url"    content="http://www.folio24.com/" /> 
    <meta property="og:title"  content="Folio24" /> 
    <meta property="og:image"  content="https://s3.amazonaws.com/folio24/static/img/example2.jpg" />
    <meta name="google-site-verification" content="GVEJ57DukrU3N9YOnDlpe4jsB9zdZ7E-5ynguj4mLaE" />
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &middot; Folio24</title>
    <meta name="viewport" content="user-scalable=yes">
    <meta name="keywords" content="portfolio, free portfolio, online portfolio, free online portfolio, folio24, photography, professional, hosted" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link href="{{ STATIC_URL }}css/bootstrap-standard.min.css" rel="stylesheet">
    <!--<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/site_style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,200" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>');
      }
    </script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38959614-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block facebookSDK %}
    {% endblock %}

    <div class="wrapper">
      {% block top-banner %}
      <div class="top-banner">
	<div class="masthead">
          <ul class="nav nav-pills top-links">
	    {% if not user.is_authenticated %}
	    <!--<li><a href="https://www.{{ DOMAIN }}/register/" class="nav-link">sign up</a></li>-->
	    <li><a href="https://www.{{ DOMAIN }}/login/" class="nav-link" id="sign-in-btn">sign in</a></li>
            {% else %}
	    <li><a href="https://{{ user.username }}.{{ DOMAIN }}/" class="nav-link">profile</a></li>
	    <li><a href="https://www.{{ DOMAIN }}/logout/" class="nav-link">logout</a></li>
            {% endif %}
          </ul>
	  <a href="https://www.{{ DOMAIN }}/" class="logo">Folio24</a>
	</div>
      </div>
      {% endblock %}
      <div class="content">
      {% block content %}{% endblock %}
      </div>

      
      <div class="push"></div>

    </div><!-- Wrapper -->

    {% block footer %}
    <div class="footer muted">
      <div class="container-narrow">
	<p style="color: rgb(180,180,180); text-align: center; margin: 0">featured on</p>
	<div style="width: 415px; margin: 0 auto 20px auto">
	  <a class="featured-link" href="http://mashable.com/2013/09/17/online-portfolio/" target="_blank" style="display: inline; margin-right: 10px">
	    <img src="{{STATIC_URL}}img/Mashable-Logo.png" class="featured-on" alt="Mashable logo">
	  </a>
	  <a class="featured-link" href="http://www.makeuseof.com/tag/what-are-the-best-tools-for-hosting-your-portfolio-online/" target="_blank" style="display: inline">
	    <img src="{{STATIC_URL}}img/makeuseof.png" class="featured-on" alt="Makeuseof logo">
	  </a>
	</div>
        <p class="dark" style="text-align: center">&copy; {% now "Y" %}, Pasko Enterprises LLC.  
	  All rights reserved.  
	  <a href="https://www.{{ DOMAIN }}/terms/" style="text-decoration: none">Terms</a> | <a href="https://www.{{ DOMAIN }}/privacy/" style="text-decoration: none">Privacy</a> | <a href="https://www.{{ DOMAIN }}/about/" style="text-decoration: none">About</a>
	</p>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
